<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">
<head>
	<title th:text="#{matches.form.title}"></title>
</head>
<body>
	<div layout:fragment="content">
        <h1 th:text="#{matches.form.title}"></h1>
		<form id="matchesForm" th:action="@{/match}" th:object="${createEditMatchCommand}" action="#" method="post" role="form">
			<div th:replace="~{fragments/delete_confirm :: delete_confirm_modal(href = '/match/delete/' + ${createEditMatchCommand.matchId}, id = 'confirm-delete')}"></div>
			<div class="row">
				<div class="col-12 col-sm-6 col-md-4">
					<input type="hidden" th:field="*{matchId}" />
					<div class="form-group mb-3">
						<label class="form-label" th:text="#{matches.form.chooseCountry} + ':'"></label><br/>
						<div class="row">
							<div class="col-6">
								<select th:field="*{countryTeamOne}" class="form-select">
                                    <option th:value="null" th:text="#{country.none}"></option>
                                    <option th:each="country : ${availableCountries}" th:value="${country}" th:text="${@teamUtil.i18n(country)}"></option>
								</select>
							</div>
							<div class="col-6">
								<select th:field="*{countryTeamTwo}" class="form-select">
                                    <option th:value="null" th:text="#{country.none}"></option>
                                    <option th:each="country : ${availableCountries}" th:value="${country}" th:text="${@teamUtil.i18n(country)}"></option>
								</select>
							</div>
						</div>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('countryTeamOne')}" th:errors="*{countryTeamOne}">countryTeamOne error</p>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('countryTeamTwo')}" th:errors="*{countryTeamTwo}">countryTeamTwo error</p>
					</div>
					<div class="form-group mb-3">
						<label class="form-label" th:text="#{matches.form.teamNames} + ':'"></label>
						<a href="#" onclick="clearTeamNameFields()"><i class="fas fa-times-circle" aria-hidden="true"></i></a>
						<br/>
						<div class="row">
							<div class="col-6">
								<input type="text" th:field="*{teamNameOne}" class="form-control" />
							</div>
							<div class="col-6">
								<input type="text" th:field="*{teamNameTwo}" class="form-control" />
							</div>
						</div>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('teamNameOne')}" th:errors="*{teamNameOne}">teamNameOne error</p>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('teamNameTwo')}" th:errors="*{teamNameTwo}">teamNameTwo error</p>
					</div>
					<div class="form-group mb-3">
		                <label class="form-label" for="kickOffDate" th:text="#{matches.form.kickOff} + ':'"></label>
						<input type="datetime-local" id="kickOffDate" th:field="*{kickOffDate}" />
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('kickOffDate')}" th:errors="*{kickOffDate}">kickOffDate error</p>
		            </div>
					<div class="form-group mb-3">
						<label class="form-label" for="stadium" th:text="#{matches.form.stadium} + ':'"></label>
						<input id="stadium" type="text" th:field="*{stadium}" class="form-control" placeholder="z.B. St. Denis, Paris" />
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('stadium')}" th:errors="*{stadium}">stadium error</p>
					</div>
					<div class="form-group mb-3">
						<label class="form-label" for="group" th:text="#{matches.form.group} + ':'"></label>
						<select id="group" th:field="*{group}" class="form-select">
						  <option th:each="gr : ${availableGroups}" th:value="${gr}" th:text="#{${gr.getTitleMsgKey()}}"></option>
						</select>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('group')}" th:errors="*{group}">group error</p>
			        </div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
						<button th:if="${createEditMatchCommand.isDeletable()}" type="button" sec:authorize="hasAuthority('PERM_DELETE_MATCH')" class="btn btn-danger"
								data-bs-toggle="modal" data-bs-target="#confirm-delete" th:text="#{button.delete}"></button>
						<a href="#" th:href="@{${'/matches#' + createEditMatchCommand.matchId}}" class="btn btn-light" role="button" th:text="#{button.cancel}"></a>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
<th:block layout:fragment="scripts">
	<script type="text/javascript" th:src="@{/js/pages/edit_match.js}" charset="UTF-8"></script>
</th:block>
</html>
