<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">
<head>
	<title th:text="#{matches.form.title}"></title>
	<link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}" media="screen"/>
</head>
<body>
	<div layout:fragment="content" class="container">		
		<form id="matchesForm" th:action="@{/match}" th:object="${createEditMatchCommand}" action="#" method="post" role="form">
			<div th:replace="~{fragments/delete_confirm :: delete_confirm_modal(href = '/match/delete/' + ${createEditMatchCommand.matchId}, id = 'confirm-delete')}"></div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<input type="hidden" th:field="*{matchId}" class="form-control" />
					<div class="form-group">
						<label th:text="#{matches.form.chooseCountry} + ':'"></label><br/>
						<div class="row">
							<div class="col-xs-6">
								<select th:field="*{countryTeamOne}" class="form-control">
								  <option th:each="country : ${availableCountries}" th:value="${country}" th:text="#{${'country.' + country.isoCode}}"></option>
								</select>								
							</div>							
							<div class="col-xs-6">
								<select th:field="*{countryTeamTwo}" class="form-control">
								  <option th:each="country : ${availableCountries}" th:value="${country}" th:text="#{${'country.' + country.isoCode}}"></option>
								</select>								
							</div>
						</div>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('countryTeamOne')}" th:errors="*{countryTeamOne}">countryTeamOne error</p>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('countryTeamTwo')}" th:errors="*{countryTeamTwo}">countryTeamTwo error</p>
					</div>
					<div class="form-group">
						<label th:text="#{matches.form.teamNames} + ':'"></label>
						<a href="#" onclick="clearTeamNameFields()"><i class="fas fa-times-circle" aria-hidden="true"></i></a>
						<br/>
						<div class="row">							
							<div class="col-xs-6">
								<input type="text" th:field="*{teamNameOne}" class="form-control" />								
							</div>
							<div class="col-xs-6">
								<input type="text" th:field="*{teamNameTwo}" class="form-control" />								
							</div>
						</div>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('teamNameOne')}" th:errors="*{teamNameOne}">teamNameOne error</p>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('teamNameTwo')}" th:errors="*{teamNameTwo}">teamNameTwo error</p>
					</div>												
					<div class="form-group">
		                <label for="kickOffDateString" th:text="#{matches.form.kickOff} + ':'"></label>
		                <div class="input-group date form_datetime" data-link-field="kickOffDateString" data-date-format="dd.mm.yyyy hh:ii" data-link-format="dd.mm.yyyy hh:ii">
		                    <input class="form-control" size="16" type="text" value="" th:value="${createEditMatchCommand.kickOffDateString}" readonly="readonly"/>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
		                </div>
						<input type="hidden" id="kickOffDateString" th:field="*{kickOffDateString}" value="" />
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('kickOffDateString')}" th:errors="*{kickOffDateString}">kickOffDateString error</p>
		            </div>					
					<div class="form-group">
						<label for="stadium" th:text="#{matches.form.stadium} + ':'"></label>
						<input id="stadium" type="text" th:field="*{stadium}" class="form-control" placeholder="z.B. St. Denis, Paris" />
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('stadium')}" th:errors="*{stadium}">stadium error</p>
					</div>					
					<div class="form-group">
						<label for="group" th:text="#{matches.form.group} + ':'"></label>
						<select id="group" th:field="*{group}" class="form-control">
						  <option th:each="gr : ${availableGroups}" th:value="${gr}" th:text="#{${'group.entry.' + gr}}"></option>
						</select>						
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('group')}" th:errors="*{group}">group error</p>
			        </div>					
					<div class="form-group">
						<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
						<button th:if="${createEditMatchCommand.isDeletable()}" type="button" sec:authorize="hasAuthority('PERM_DELETE_MATCH')" class="btn btn-danger"
								data-toggle="modal" data-target="#confirm-delete" th:text="#{button.delete}"></button>
						<a href="#" th:href="@{${'/matches#' + createEditMatchCommand.matchId}}" class="btn btn-default" role="button" th:text="#{button.cancel}"></a>
					</div>
				</div>
			</div>
		</form>
	</div>	
</body>
<th:block layout:fragment="scripts">
	<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.js}" charset="UTF-8"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.de.js}" charset="UTF-8"></script>
	<script type="text/javascript" th:src="@{/js/datepicker-selection.js}" charset="UTF-8"></script>
	<script type="text/javascript" th:src="@{/js/pages/edit_match.js}" charset="UTF-8"></script>
</th:block>
</html>