<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
	<title>Matches</title>    
</head>
<body>
	<div layout:fragment="content" class="container">		
		<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}">Some Success message</div>
		<form id="matchesForm" th:action="@{/matches}" th:object="${matchCommand}" action="#" method="post" role="form">				
			<ul>
	            <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
	                <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
	                <span th:text="${e.message}">The error message</span>
	            </li>
	        </ul>		
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<input type="hidden" th:field="*{matchId}" class="form-control" />
					<div class="form-group">
						<label>Spiel:</label><br/>
						<div class="row">							
							<div class="col-xs-6">
								<input type="text" th:field="*{teamNameOne}" class="form-control" />
							</div>
							<div class="col-xs-6">
								<input type="text" th:field="*{teamNameTwo}" class="form-control" />
							</div>
						</div>			
					</div>			
					<div class="form-group">
						<label>Ergebnis:</label><br/>
						<input type="text" th:field="*{teamResultOne}" class="form-control form-size-small" />
						<span>:</span>
						<input type="text" th:field="*{teamResultTwo}" class="form-control form-size-small" />
					</div>										
					<div class="form-group">
		                <label for="kickOffDateString">Anstoß:</label>
		                <div class="input-group date form_datetime" data-link-field="kickOffDateString" data-date-format="dd.mm.yyyy hh:ii" data-link-format="dd.mm.yyyy hh:ii">
		                    <input class="form-control" size="16" type="text" value="" th:value="${matchCommand.kickOffDateString}" readonly="readonly"/>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
		                </div>
						<input type="hidden" id="kickOffDateString" th:field="*{kickOffDateString}" value="" /><br/>
		            </div>					
					<div class="form-group">
						<label for="teamResultTwo">Stadion:</label>
						<input type="text" th:field="*{stadium}" class="form-control" placeholder="z.B. Westfalenstadion" />
					</div>					
					<div class="form-group">
						<label for="teamResultTwo">Gruppierung:</label>
						<select th:field="*{group}">
						  <option th:each="gr : ${availableGroups}" th:value="${gr}" th:text="#{${'group.entry.' + gr}}">Gruppe A</option>
						</select>						
			        </div>					
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Speichern</button>
						<a href="#" th:href="@{/matches}" class="btn btn-default" role="button">Abbrechen</a>	
					</div>
				</div>
			</div>
		</form>
	</div>
	
</body>
</html>