<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
<title>Spiele</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}">Some Success message</div>
		<h2>Spiele</h2>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" th:each="group : ${groups}">
				<a th:href="@{'#' + ${group.name}}" th:text="${group.name}" aria-controls="${group.name}" role="tab" data-toggle="tab">Home</a>
			</li>
		</ul>
		<div class="tab-content">
		<div class="row">
		    <div th:each="group : ${groups}" role="tabpanel" class="tab-pane active" th:id="${group.name}">
				<div class="col-xs-12 col-sm-6 col-md-4" th:each="matchCommand : ${groupMatches[group.name]}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-10">
							  		<span class="bold" th:text="${matchCommand.teamNameOne}">Deutschland</span> <span> - </span><span class="bold" th:text="${matchCommand.teamNameTwo}">Italien</span>
									<br/>
									<span th:text="${#dates.format(matchCommand.kickOffDate, 'E dd.MM.yyyy HH:mm')}">Fr 04.08.2015, 19:15 Uhr</span><br/> 
									<span th:text="${matchCommand.stadium}">Stadium</span>							  		
					  			</div>
					  			<div class="col-xs-2 vcenter">
					  				<span class="label label-warning label-as-badge big-badge" th:if="${matchCommand.hasMatchFinished()}" th:text="${matchCommand.points}">1</span>
					  			</div>
				  			</div>				  									
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-3">
									<div class="short-div">
										<span>Ergebnis:</span>
									</div>
									<div class="short-div betting-results">										
										<span>getippt:</span>
									</div>							  									  		
					  			</div>					
					  			<div class="col-xs-4">				
					  				<div class="short-div">
					  					<span class="label label-as-badge big-badge" th:classappend="${matchCommand.teamResultOne != null} ? label-info : label-default" 
					  					      th:text="${matchCommand.teamResultOne != null ? matchCommand.teamResultOne : '?'}">2</span>
								  		<span> : </span>
							  			<span class="label label-as-badge big-badge" th:classappend="${matchCommand.teamResultTwo != null} ? label-info : label-default" 
							  			      th:text="${matchCommand.teamResultTwo != null ? matchCommand.teamResultTwo : '?'}">1</span>
					  				</div>	  				
					  				<div class="short-div betting-results">
					  					<span class="label label-as-badge big-badge" th:classappend="${matchCommand.userBetGoalsTeamOne != null} ? label-success : label-default" 
					  					      th:text="${matchCommand.userBetGoalsTeamOne != null ? matchCommand.userBetGoalsTeamOne : '?'}">2</span>
								  		<span> : </span>
							  			<span class="label label-as-badge big-badge" th:classappend="${matchCommand.userBetGoalsTeamTwo != null} ? label-success : label-default" 
							  			      th:text="${matchCommand.userBetGoalsTeamTwo != null ? matchCommand.userBetGoalsTeamTwo : '?'}">1</span>
					  				</div>
					  			</div>  			
					  			<div class="col-xs-2">
						  			<div class="btn-group">
		            					<a sec:authorize="hasRole('ROLE_ADMIN')" href="#" th:href="@{'/matches/' + ${matchCommand.matchId}}" class="btn btn-lg btn-info" role="button" title="Spiel ändern">
		            						<span class="glyphicon glyphicon-pencil"></span>
		            					</a>
		       						</div>
	       						</div>
	       						<div class="col-xs-1">
	       						</div>
	       						<div class="col-xs-2">
	       							<div class="btn-group">		            													
										<a href="#" th:href="@{'/bet/createOrUpdate/' + ${matchCommand.matchId}}" th:classappend="${!matchCommand.isBettable()}? 'disabled'" 
										   class="btn btn-lg btn-info" role="button" title="Spiel tippen">
											<span class="glyphicon glyphicon-hand-up"></span>
										</a>
		       						</div>
	       						</div>
       						</div>
					   </div>					   
					</div>
				</div>				
			</div>
		    </div>
		</div>
		<a sec:authorize="hasRole('ROLE_ADMIN')" href="#" th:href="@{/matches/create}" class="btn btn-primary" role="button">Spiel anlegen</a>	
	</div>
</body>
</html>