<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
<title>Matches</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>Spiele</h2>
		<form class="form-inline" role="form" action="#" th:action="@{/matches}" method="post">
			<div class="row">
				<div class="col-sm-6 col-lg-3" th:each="match : ${allMatches}">
					<div class="form-group">						
						<label for="match1a" th:text="${match.teamOne.name}">Deutschland</label> <span> - </span> <label for="match1b" th:text="${match.teamTwo.name}">Italien</label>
						<input id="match1" type="text" class="form-control form-size-small" th:value="${match.result.goalsTeamOne}?: ''" />
						<input id="match1b" type="text" class="form-control form-size-small" th:value="${match.result.goalsTeamTwo}?: ''" />
						<a href="view.html" th:href="@{'/matches/' + ${match.id}}">Edit</a>
					</div>
				</div>				
			</div>
			<a href="form.html" th:href="@{/matches(form)}">Spiel anlegen</a>			
		</form>
	</div>
</body>
</html>