<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
	<title th:text="#{matches.matchresult.title}"></title>
	<script type="text/javascript" th:src="@{/js/pages/bet_and_result.js}" charset="UTF-8"></script>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div th:replace="fragments/alert :: alert_headline"></div>		
		
		<form id="matchresultForm" th:action="@{/matches/matchresult}" th:object="${matchResultCommand}" action="#" method="post" role="form" class="goalsEnter">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h1 th:text="#{matchresult.heading}"></h1>
					<input type="hidden" th:field="*{matchId}" />
					<input type="hidden" th:field="*{groupMatch}" />
					<div class="form-group">
						<div class="row center">
							<div class="col-xs-6">
								<img class="flag" th:if="${matchResultCommand.isShowCountryIcons()}" th:src="@{${matchResultCommand.getIconPathTeamOne()}}"/>
								<span th:text="${matchResultCommand.teamNameOne}" class="teamName"></span>
							</div>
							<div class="col-xs-6">
								<img class="flag" th:if="${matchResultCommand.isShowCountryIcons()}" th:src="@{${matchResultCommand.getIconPathTeamTwo()}}"/>
								<span th:text="${matchResultCommand.teamNameTwo}" class="teamName"></span>
							</div>
						</div>
						<div class="row center">
							<div class="col-xs-6">
								<input type="text" th:field="*{teamResultOne}" class="form-control form-size-small color-result bold" onchange="checkPenalty()"/>								
							</div>
							<div class="col-xs-6">
								<input type="text" th:field="*{teamResultTwo}" class="form-control form-size-small color-result bold" onchange="checkPenalty()"/>
							</div>
						</div>
						<div class="row center">
							<div class="col-xs-6">
								<button type="button" class="btn vote" onclick="oneCountUp()"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
								<button type="button" class="btn vote" onclick="oneCountDown()"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
							</div>
							<div class="col-xs-6">
								<button type="button" class="btn vote" onclick="twoCountUp()"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
								<button type="button" class="btn vote" onclick="twoCountDown()"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
							</div>
						</div>						
						<div id="penaltyBox" th:if="${!matchResultCommand.isGroupMatch()}">
							<div class="row">
								<span class="bold" th:text="#{penalty.box.heading}"></span>
							</div>
							<div class="row center color-result penalty-height">
								<div class="col-xs-6">
									<input type="radio" th:field="*{penaltyWinnerOne}" value="true" />
								</div>
								<div class="col-xs-6">
									<input type="radio" th:field="*{penaltyWinnerOne}" value="false" />
								</div>
							</div>								
						</div>
						<br/>
						<div class="row">
							<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
							<a href="#" th:href="@{${'/matches#' + matchResultCommand.matchId}}" class="btn btn-default" role="button" th:text="#{button.cancel}"></a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>