<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
	<title th:text="#{matches.matchresult.title}"></title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}"></div>		
		
		<form id="matchresultForm" th:action="@{/matches/matchresult}" th:object="${matchResultCommand}" action="#" method="post" role="form">			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h1 th:text="#{matchresult.heading}"></h1>
					<input type="hidden" th:field="*{matchId}" class="form-control" />
					<div class="form-group">
						<table class="table center">
							<thead>
								<tr>
									<th>
										<img class="flag" th:if="${matchResultCommand.isShowCountryIcons()}" th:src="@{${matchResultCommand.getIconPathTeamOne()}}"/>
										<span th:text="${matchResultCommand.teamNameOne}" class="teamName"></span>
									</th>
									<th>
										<img class="flag" th:if="${matchResultCommand.isShowCountryIcons()}" th:src="@{${matchResultCommand.getIconPathTeamTwo()}}"/>
										<span th:text="${matchResultCommand.teamNameTwo}" class="teamName"></span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="info">
									<td><input type="text" th:field="*{teamResultOne}" class="form-control form-size-small" onchange="checkPenalty()"/></td>
									<td><input type="text" th:field="*{teamResultTwo}" class="form-control form-size-small" onchange="checkPenalty()"/></td>
								</tr>
							</tbody>
						</table>												
					</div>
					<div id="penaltyBox" class="form-group" th:if="${!matchResultCommand.isGroupMatch()}">
						<table class="table center">
							<thead>
								<tr>
									<th colspan="2">
										<span th:text="#{penalty.box.heading}"></span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="info">
									<td><input type="radio" th:field="*{penaltyWinnerOne}" value="true" /></td>
									<td><input type="radio" th:field="*{penaltyWinnerOne}" value="false" /></td>
								</tr>								
							</tbody>
						</table>												
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
						<a href="#" th:href="@{${'/matches#' + matchResultCommand.matchId}}" class="btn btn-default" role="button" th:text="#{button.cancel}"></a>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>