<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
	<title th:text="#{bet.edit.title}"></title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}"></div>		
		
		<form id="betForm" th:action="@{/bet}" th:object="${betCommand}" action="#" method="post" role="form">			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<input type="hidden" th:field="*{betId}" class="form-control" />
					<input type="hidden" th:field="*{matchId}" class="form-control" />
					<input type="hidden" th:field="*{countryTeamOne}" class="form-control" />
					<input type="hidden" th:field="*{countryTeamTwo}" class="form-control" />
					<input type="hidden" th:field="*{nameTeamOne}" class="form-control" />
					<input type="hidden" th:field="*{nameTeamTwo}" class="form-control" />
					<input type="hidden" th:field="*{redirectViewName}" class="form-control" />
					<div class="form-group">
						<table class="table center">
							<thead>
								<tr>
									<th>
										<img class="flag" th:if="${betCommand.isShowCountryIcons()}" th:src="@{${betCommand.getIconPathTeamOne()}}"/>
										<span th:text="${betCommand.teamNameOne}" class="teamName"></span>
									</th>
									<th>
										<img class="flag" th:if="${betCommand.isShowCountryIcons()}" th:src="@{${betCommand.getIconPathTeamTwo()}}"/>
										<span th:text="${betCommand.teamNameTwo}" class="teamName"></span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="success">
									<td><input type="text" th:field="*{goalsTeamOne}" class="form-control form-size-small" /></td>
									<td><input type="text" th:field="*{goalsTeamTwo}" class="form-control form-size-small" /></td>
								</tr>
							</tbody>
						</table>												
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
						<a href="#" th:href="@{/matches}" class="btn btn-default" role="button" th:text="#{button.cancel}"></a>	
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>