<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{bet.extra.others.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1 th:text="#{bet.extra.others.title}"></h1>
			<div class="row">
				<div class="col-12 col-sm-6 col-md-4" th:each="extraBet : ${allExtraBets}">
					<div class="card mb-3">
						<div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-9">
                                    <span th:replace="~{fragments/profile_image :: profile_image_small_with_popup(${@webSecurityUtil.getUserProfileImageKeyFor(extraBet.userName)})}"></span>
                                    <div class="mt-1">
                                        <span class="ms-3" th:text="${extraBet.userName}"/>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <span class="badge rounded-pill bg-warning big-badge" th:text="${extraBet.points}"></span>
                                </div>
                            </div>
						</div>
					   <div class="card-body">
						   <div class="table-responsive">
						   		<table class="table table-condensed">
						   			<tr>
										<td class="bg-success-subtle">
											1. <i class="fas fa-trophy"></i>&nbsp;&nbsp;
											<span th:text="${@teamUtil.i18n(extraBet.finalWinner)}"></span>
										</td>
						   			</tr>
						   			<tr>
										<td class="bg-warning-subtle">
											2. <i class="fas fa-trophy"></i>&nbsp;&nbsp;
											<span th:text="${@teamUtil.i18n(extraBet.semiFinalWinner)}"></span>
										</td>
						   			</tr>
						   			<tr th:if="${extraBet.thirdFinalWinner}">
										<td class="bg-info-subtle">
											3. <i class="fas fa-trophy"></i>&nbsp;&nbsp;
											<span th:text="${@teamUtil.i18n(extraBet.thirdFinalWinner)}"></span>
										</td>
						   			</tr>
						   		</table>
					   	   </div>
					   </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6 col-md-4">
					<div class="mt-3">
						<a href="#" th:href="@{/extrabets}" class="btn btn-light" role="button" th:text="#{button.back}"></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
