<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{bet.extra.others.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1 th:text="#{bet.extra.others.title}"></h1>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4" th:each="extraBet : ${allExtraBets}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:replace="~{fragments/profile_image :: profile_image_small_with_popup(${@webSecurityUtil.getUserProfileImageKeyFor(extraBet.userName)})}"></span>
							<span th:text="${extraBet.userName}"></span>
							<span class="label label-warning label-as-badge big-badge right" th:text="${extraBet.points}"></span>
						</div>
					   <div class="panel-body">
						   <div class="table-responsive">
						   		<table class="table table-condensed">
						   			<tr>
										<td class="success">
											1. <i class="fas fa-trophy"></i>&nbsp;&nbsp;
											<span th:text="#{${'country.' + extraBet.finalWinner.getIsoCode()}}"></span>
										</td>
						   			</tr>
						   			<tr>
										<td class="warning">
											2. <i class="fas fa-trophy"></i>&nbsp;&nbsp;
											<span th:text="#{${'country.' + extraBet.semiFinalWinner.getIsoCode()}}"></span>
										</td>
						   			</tr>
						   			<tr th:if="${extraBet.thirdFinalWinner}">
										<td class="info">
											3. <i class="fas fa-trophy"></i>&nbsp;&nbsp;
											<span th:text="#{${'country.' + extraBet.thirdFinalWinner.getIsoCode()}}"></span>
										</td>
						   			</tr>
						   		</table>
					   	   </div>
					   </div>
					</div>
				</div>			
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="form-group">
						<a href="#" th:href="@{/extrabets}" class="btn btn-default" role="button" th:text="#{button.back}"></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>