<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
	<title th:text="#{extra_bets.title}"></title>    
</head>
<body>
	<div layout:fragment="content" class="container">		
		<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}"></div>
		
		<form id="extraBetForm" th:action="@{/bet/extra_bets}" th:object="${extraBetCommand}" action="#" method="post" role="form">
			<input type="hidden" th:field="*{extraBetId}" class="form-control" />
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="form-group">
						<div class="panel panel-success">
							<div class="panel-heading">
								<label class="bold" th:text="#{extra_bets.finalWinner} + ':'"></label>
								<span class="right" th:text="#{extra_bets.points(${extraBetCommand.reachablePointsFinalWinner})}"></span>
							</div>
							<div class="panel-body">
								<select th:field="*{finalWinner}" class="form-control">
								  <option th:each="country : ${availableCountries}" th:value="${country}" th:text="#{${'country.' + country.isoCode}}"></option>
								</select>
							</div>
						</div>
					</div>					
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="form-group">
						<div class="panel panel-warning">
							<div class="panel-heading">
								<span class="bold" th:text="#{extra_bets.semiFinalWinner} + ':'"></span>
								<span class="right" th:text="#{extra_bets.points(${extraBetCommand.reachablePointsSemiFinalWinner})}"></span>
							</div>
							<div class="panel-body">
								<select th:field="*{semiFinalWinner}" class="form-control">
								  <option th:each="country : ${availableCountries}" th:value="${country}" th:text="#{${'country.' + country.isoCode}}"></option>
								</select>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="form-group">
						<div class="panel panel-info">
							<div class="panel-heading">
								<span class="bold" th:text="#{extra_bets.reachedPoints} + ':'"></span>
								<span class="right label label-as-badge big-badge" th:classappend="${extraBetCommand.points != null} ? label-warning : label-default" 
					  					      th:text="${extraBetCommand.points != null ? extraBetCommand.points : '?'}"></span>
							</div>
						</div>													
					</div>
				</div>
			</div>
			<div class="row" th:if="${!extraBetCommand.isFinalMatchStarted()}">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="form-group">
						<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
						<a href="#" th:href="@{/bet/open}" class="btn btn-default" role="button" th:text="#{button.cancel}"></a>	
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>