<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
	<title th:text="#{extra_bets.title}"></title>    
</head>
<body>
	<div layout:fragment="content" class="container">		
		<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}"></div>
		<form id="extraBetForm" th:action="@{/bet/extra_bets}" th:object="${extraBetCommand}" action="#" method="post" role="form">
			<input type="hidden" th:field="*{extraBetId}" class="form-control" />
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="form-group">
						<label th:text="#{extra_bets.finalWinner} + ':'"></label><br/>
						<select th:field="*{finalWinner}" class="form-control">
						  <option th:each="country : ${availableCountries}" th:value="${country}" th:text="#{${'country.' + country.isoCode}}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="form-group">
						<label th:text="#{extra_bets.semiFinalWinner} + ':'"></label><br/>
						<select th:field="*{semiFinalWinner}" class="form-control">
						  <option th:each="country : ${availableCountries}" th:value="${country}" th:text="#{${'country.' + country.isoCode}}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="form-group">
						<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>							
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>