<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
	<title>Noch nicht getippt</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}">Some Success message</div>
		<h1 th:if="${not #lists.isEmpty(matchesToBet)}">Noch nicht getippt</h1>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4" th:each="matchCommand : ${matchesToBet}">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-9">
								<img class="flag" th:if="${matchCommand.isShowCountryIcons()}" th:src="@{${matchCommand.getIconPathTeamOne()}}"/>
								<span class="bold" th:text="${matchCommand.teamNameOne}">Deutschland</span>
								<span> - </span>
								<img class="flag" th:if="${matchCommand.isShowCountryIcons()}" th:src="@{${matchCommand.getIconPathTeamTwo()}}"/>
								<span class="bold" th:text="${matchCommand.teamNameTwo}">Italien</span>
								<br/>
								<span th:text="${#temporals.format(matchCommand.kickOffDate, 'EEE dd. MMMM yyyy HH:mm')}">Fr 04.08.2015, 19:15 Uhr</span>
								<br/>
								<span th:text="#{${matchCommand.group.titleMsgKey}}"></span><span>,</span>
								<span th:text="${matchCommand.stadium}">Stadium</span>							  		
				  			</div>		
				  			<div class="col-xs-3 button-bar">
					  			<div class="row center">
									<a href="#" th:href="@{'/bet/createOrUpdate/' + ${matchCommand.matchId}} + '?redirectViewName=OPEN_BETS'" th:classappend="${matchCommand.hasMatchStarted()}? 'disabled'" 
										class="btn btn-success" role="button">
										<span class="glyphicon glyphicon-hand-up"></span>
									</a>
	       						</div>
       						</div>
      					</div>
				   </div>					   
				</div>
			</div>				
		</div>
	</div>
</body>
</html>