<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{bet.others.title}"></title>
        <link rel="stylesheet" th:href="@{/css/pages/others.css}" />
	</head>
	<body>
		<div layout:fragment="content">
			<h1 th:text="#{bet.others.title}"></h1>
            <div th:with="groupAvg=${allBetsCommand.avgGroupBet}">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <img class="flag" th:if="${allBetsCommand.getIconPathTeamOne() != null}" th:src="@{${allBetsCommand.getIconPathTeamOne()}}"/>
                                <span class="bold" th:text="${allBetsCommand.teamNameOne}"></span>
                                <span> - </span>
                                <img class="flag" th:if="${allBetsCommand.getIconPathTeamTwo() != null}" th:src="@{${allBetsCommand.getIconPathTeamTwo()}}"/>
                                <span class="bold" th:text="${allBetsCommand.teamNameTwo}"></span>
                                <br/>
                                <span th:text="${#temporals.format(allBetsCommand.kickOffDate, 'EEE dd. MMMM yyyy HH:mm')}"></span>
                                <div class="right">
                                        <span class="label label-info label-as-badge big-badge" th:classappend="${allBetsCommand.match.getCssClassPenaltyWinnerOne()}"
                                              th:text="${allBetsCommand.match.goalsTeamOne}"></span>
                                    <span th:if="${allBetsCommand.match.goalsTeamOne != null}"> : </span>
                                    <span class="label label-info label-as-badge big-badge" th:classappend="${allBetsCommand.match.getCssClassPenaltyWinnerTwo()}"
                                          th:text="${allBetsCommand.match.goalsTeamTwo}"></span>
                                </div>
                                <br/>
                                <span th:text="#{${allBetsCommand.group.titleMsgKey}}"></span><span>,</span>
                                <span th:text="${allBetsCommand.stadium}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    <span th:text="#{others.bet.groupBet} + ':'"></span>
                    <span class="label label-success label-as-badge" th:text="${groupAvg.avgGoalsTeamOne}">1</span>
                    <span> : </span>
                    <span class="label label-success label-as-badge" th:text="${groupAvg.avgGoalsTeamTwo}">1</span>
                </p>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4" th:each="bet : ${allBetsCommand.allBetsForMatch}">
                        <div class="panel panel-default">
                            <div class="panel-body result-item">
                                <div class="col-xs-2 top-bottom-space no-right-padding">
                                    <span th:replace="~{fragments/profile_image :: profile_image_small_with_popup(${@webSecurityUtil.getUserProfileImageKeyFor(bet.userName)})}"></span>
                                </div>
                                <div class="col-xs-5 top-bottom-space no-left-right-padding">
                                    <span th:text="${bet.userName}" class="ranking-name"></span>
                                </div>
                                <div class="col-xs-5 top-bottom-space no-left-padding">
                                    <div class="right">
                                        <span class="label label-as-badge big-badge label-success" th:classappend="${bet.getCssClassPenaltyWinnerOne()}"
                                            th:text="${bet.goalsTeamOne}"></span>
                                        <span> : </span>
                                        <span class="label label-as-badge big-badge label-success" th:classappend="${bet.getCssClassPenaltyWinnerTwo()}"
                                            th:text="${bet.goalsTeamTwo}"></span>
                                        <span>&nbsp;</span>
                                        <span class="label label-as-badge big-badge label-warning" th:text="${bet.points}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <a href="#" th:href="@{${allBetsCommand.getBackUrl()}}" class="btn btn-default" role="button" th:text="#{button.back}"></a>
                    </div>
                </div>
                <div class="row">
                    <br/>
                </div>
			</div>
		</div>
	</body>
    <th:block layout:fragment="scripts">
        <script type="text/javascript" th:src="@{/js/pages/tooltip.js}" charset="UTF-8"></script>
    </th:block>
</html>