<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
	<title th:text="#{bet.others.title}"></title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:text="#{bet.others.title}"></h1>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
								<img class="flag" th:if="${allBetsCommand.isShowCountryIcons()}" th:src="@{${allBetsCommand.getIconPathTeamOne()}}"/>									
						  		<span class="bold" th:text="${allBetsCommand.teamNameOne}"></span>
						  		<span> - </span>
						  		<img class="flag" th:if="${allBetsCommand.isShowCountryIcons()}" th:src="@{${allBetsCommand.getIconPathTeamTwo()}}"/>
						  		<span class="bold" th:text="${allBetsCommand.teamNameTwo}"></span>
								<br/>
								<span th:text="${#temporals.format(allBetsCommand.kickOffDate, 'EEE dd. MMMM yyyy HH:mm')}"></span>
								<div class="right">
									<span class="label label-info label-as-badge big-badge" th:text="${allBetsCommand.match.goalsTeamOne}"></span>
									<span> : </span>
									<span class="label label-info label-as-badge big-badge" th:text="${allBetsCommand.match.goalsTeamTwo}"></span>
								</div>
								<br/> 
								<span th:text="#{${allBetsCommand.group.titleMsgKey}}"></span><span>,</span>
								<span th:text="${allBetsCommand.stadium}"></span>
				  			</div>					  			
			  			</div>				  									
					</div>
					<div class="panel-body">
						<div class="row" th:each="bet : ${allBetsCommand.allBetsForMatch}">
							<div class="col-xs-2 top-bottom-space">
								<span th:replace="fragments/profile_image :: profile_image_small(${@securityService.getUserProfileImageKeyFor(bet.userName)})"></span>
							</div>
							<div class="col-xs-4 top-bottom-space no-left-right-padding">
								<span th:text="${bet.userName}" class="ranking-name"></span>			  									  		
				  			</div>					
				  			<div class="col-xs-4 top-bottom-space no-right-padding">
				  				<span class="label label-as-badge big-badge label-success" th:classappend="${T(de.fred4jupiter.fredbet.web.CssHelper).getCssClassPenaltyWinnerOne(bet)}" 
				  					th:text="${bet.goalsTeamOne}"></span>
							  	<span> : </span>
						  		<span class="label label-as-badge big-badge label-success" th:classappend="${T(de.fred4jupiter.fredbet.web.CssHelper).getCssClassPenaltyWinnerTwo(bet)}" 
						  			th:text="${bet.goalsTeamTwo}"></span>	  			
				  			</div>  			
				  			<div class="col-xs-2 top-bottom-space">
				  				<span class="label label-as-badge big-badge label-warning" th:text="${bet.points}"></span>
				  			</div>
     					</div>     					
				   </div>					   
				</div>
			</div>		
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#" th:href="@{${'/matches#' + allBetsCommand.matchId}}" class="btn btn-default" role="button" th:text="#{button.back}"></a>
			</div>
		</div>
	</div>
</body>
</html>