<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
<head>
	<title th:text="#{active.users.title}"></title>
</head>
<body>
	<div layout:fragment="content">
		<h1 th:text="#{active.users.title}"></h1>
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card mb-3" th:each="sessionTracking : ${userList}">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <span th:text="${sessionTracking.userName}"></span>
                            </div>
                            <div class="col-6 text-end">
                                <span th:text="${#temporals.format(sessionTracking.lastLogin, 'yyyy-MM-dd HH:mm')}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
</html>
