<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{administration.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h5 th:text="#{administration.testdata.title}">Test Data Creation</h5>
                    <form id="testDataForm" th:action="@{/administration/testdata}" th:object="${testDataCommand}" action="#" method="post" role="form">
                        <div class="row mb-3">
                            <div class="col-12 col-sm-6">
                                <div class="mb-3">
                                    <label for="groupSelection" class="form-label" th:text="#{testdata.numberOfGroups}"></label><br/>
                                    <select id="groupSelection" th:field="*{groupSelection}" class="form-select">
                                        <option th:each="groupSelection : ${testDataCommand.groupSelections}" th:value="${groupSelection}" th:text="#{${groupSelection.msgKey}}"></option>
                                    </select>
                                </div>
                            </div>
<!--                            <div class="col-12 col-sm-6">-->
<!--                                <div class="mb-3">-->
<!--                                    <label for="numberOfGroups" class="form-label" th:text="#{testdata.numberOfGroups}"></label><br/>-->
<!--                                    <input id="numberOfGroups" type="text" th:field="*{numberOfGroups}" class="form-control" required max="12" />-->
<!--                                    <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('numberOfGroups')}" th:errors="*{numberOfGroups}"></p>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="row">
                                <div class="col-12 col-sm-8">
                                    <div class="form-check mb-3">
                                        <input id="includeBets" type="checkbox" th:field="*{includeBets}" class="form-check-input"/>
                                        <label for="includeBets" class="form-check-label" th:text="#{testdata.includeBets}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-8">
                                    <div class="form-check mb-3">
                                        <input id="includeResults" type="checkbox" th:field="*{includeResults}" class="form-check-input"/>
                                        <label for="includeResults" class="form-check-label" th:text="#{testdata.includeResults}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 col-sm-6">
                                <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <a class="btn btn-primary" role="button" th:href="@{/administration/createDemoBets}" th:text="#{administration.demoBetsAllUsers}"></a>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <a class="btn btn-primary" role="button" th:href="@{/administration/createDemoResults}" th:text="#{administration.testResultsAllUsers}"></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-sm-6">
                    <h5 th:text="#{administration.testdemousers.title}">Test Demo Users</h5>
                    <form id="adminForm" th:action="@{/administration/save}" th:object="${adminFormCommand}" action="#" method="post" role="form">
                        <div class="row">
                            <div class="col-auto mb-3">
                                <label class="form-label" for="numberOfTestUsers" th:text="#{administration.numberOfTestUsers.title} + ':'"></label>
                                <input id="numberOfTestUsers" type="text" th:field="*{numberOfTestUsers}" class="form-control" />
                                <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('numberOfTestUsers')}" th:errors="*{numberOfTestUsers}"></p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
                    </form>
                </div>
            </div>

            <hr/>

            <div th:replace="~{fragments/delete_confirm :: delete_confirm_modal(href = '/administration/deleteAllUsers', id='deleteAllUsers')}"></div>
            <div th:replace="~{fragments/delete_confirm :: delete_confirm_modal(href = '/administration/deleteAllBetsAndMatches', id='deleteAllBetsAndMatches')}"></div>
            <h5 class="mt-3 mb-3" th:text="#{administration.dangerzone.title}">Danger Zone</h5>
            <div class="row">
                <div class="col-auto mb-3">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAllUsers" th:text="#{administration.deleteAllUsers}"></button>
                </div>
                <div class="col-auto mb-3">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAllBetsAndMatches" th:text="#{administration.deleteAllBetsAndMatches}"></button>
                </div>
            </div>
		</div>
	</body>
</html>
