<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"layout:decorate="~{_layout}">
	<head>
		<title th:text="#{administration.backup.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1 th:text="#{administration.backup.title}"></h1>
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="mb-3">
						<span class="label label-danger" th:text="#{administration.backup.warning.hint}"></span>
					</div>
					<div class="mb-3">
						<a th:href="@{/backup/execute}" class="btn btn-primary" role="button" th:text="#{administration.backup.executeBackupButton}"></a>
					</div>
					<hr/>
					<form id="backupForm" th:action="@{/backup/save}" th:object="${databaseBackupCommand}" action="#" method="post" role="form">
						<div class="mb-3">
							<label for="backupFolder" th:text="#{backup.backupFolder} + ':'" class="form-label"></label>
							<input id="backupFolder" type="text" th:field="*{backupFolder}" class="form-control" />
							<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('backupFolder')}" th:errors="*{backupFolder}"></p>
						</div>
						<div class="mt-3">
							<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
