<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{administration.config.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
            <div class="row">
				<div class="col-12 col-sm-6 col-md-4 mb-3">
					<form id="changeLogLevelForm" th:action="@{/config/changeLogLevel}" th:object="${configurationCommand}" action="#" method="post" role="form">
						<h2 th:text="#{administration.change.loglevel.title}"></h2>
						<ul class="list-group mb-3">
							<li class="list-group-item" th:each="level : ${configurationCommand.logLevel}">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" th:field="*{level}" th:value="${level}" />
                                    <label class="form-check-label" th:for="${#ids.prev('level')}" th:text="${level}"></label>
                                </div>
							</li>
						</ul>
						<div class="mb-3">
							<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
						</div>
					</form>
				</div>
				<div class="col-12 col-sm-6 col-md-4">
					<h2 th:text="#{administration.cache.title}"></h2>
					<a class="btn btn-primary" role="button" th:href="@{/config/clearCache}" th:text="#{administration.clearCache}"></a>
				</div>
			</div>
		</div>
	</body>
</html>
