<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
	<head>
		<title th:text="#{administration.config.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<div th:replace="fragments/alert :: alert_headline"></div>
			
			<h2 th:text="#{administration.cache.title}"></h2>
			<div class="row">			
				<div class="col-xs-12 col-sm-6 col-md-4">
					<a class="btn btn-primary" role="button" th:href="@{/config/clearCache}" th:text="#{administration.clearCache}"></a>					
				</div>
			</div>
			<hr/>
			<h2 th:text="#{administration.change.loglevel.title}"></h2>
			<div class="row">			
				<div class="col-xs-6 col-sm-4 col-md-2">
					<form id="changeLogLevelForm" th:action="@{/config/changeLogLevel}" th:object="${configurationCommand}" action="#" method="post" role="form">
						<ul class="list-group">
							<li class="list-group-item" th:each="level : ${configurationCommand.logLevel}">
								<input type="radio" th:field="*{level}" th:value="${level}" /> 
								<label th:for="${#ids.prev('level')}" th:text="${level}"></label>
							</li>
						</ul>
						<div class="form-group">
							<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
						</div>
					</form>					
				</div>
			</div>
			<hr/>
			<h2 th:text="#{administration.runtime.configuration}"></h2>
			<form id="saveRuntimeConfigForm" th:action="@{/config/saveRuntimeConfig}" th:object="${configurationCommand}" action="#" method="post" role="form">
				<div class="row">			
					<div class="col-xs-12 col-sm-12 col-md-6">					
						<ul class="list-group">
							<li class="list-group-item">								
								<input type="checkbox" th:field="*{runtimeConfig.enabledParentChildRanking}"/>
								<label for="child" th:text="#{administration.runtime.configuration.enabledParentChildRanking}"></label>							
							</li>
							<li class="list-group-item">									
								<input type="checkbox" th:field="*{runtimeConfig.enableChangingUsername}"/>
								<label for="child" th:text="#{administration.runtime.configuration.enableChangingUsername}"></label>							
							</li>
							<li class="list-group-item">									
								<input type="checkbox" th:field="*{runtimeConfig.showDemoDataNavigationEntry}"/>
								<label for="child" th:text="#{administration.runtime.configuration.showDemoDataNavigationEntry}"></label>							
							</li>							
						</ul>														
					</div>
				</div>
				<div class="row">			
					<div class="col-xs-12 col-sm-6 col-md-4">	
						<div class="form-group">
							<label for="favouriteCountry" th:text="#{administration.runtime.configuration.favouriteCountry} + ':'"></label> 
							<select th:field="*{runtimeConfig.favouriteCountry}" class="form-control">
							    <option th:each="country : ${availableCountries}" th:value="${country}" th:text="#{${'country.' + country.isoCode}}"></option>
							</select>
							<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('runtimeConfig.favouriteCountry')}" th:errors="*{runtimeConfig.favouriteCountry}">favouriteCountry Error</p>						
						</div>
					</div>
				</div>
				<div class="row">			
					<div class="col-xs-12 col-sm-12 col-md-6">	
						<div class="form-group">
							<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
						</div>	
					</div>
				</div>
			</form>
		</div>
	</body>
</html>