<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
<head>
    <title th:text="#{excel.import.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{excel.import.title}"></h2>
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <form th:action="@{/excelimport/upload}" th:object="${excelUploadCommand}" method="post" enctype="multipart/form-data" role="form">
                <h3 th:text="#{excel.upload.file}"></h3>
                <div class="mt-3 mb-3">
                    <input id="myFile" type="file" th:field="*{myFile}" class="form-control btn btn-light btn-file"/>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-primary" th:value="#{excel.upload.button}"/>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="text-danger" th:text="#{excel.download.hint.allMatchesDeleted}"></span>
        </div>
    </div>

    <h3 class="mt-3" th:text="#{excel.download.template}">Templates</h3>
    <div class="row">
        <div class="col-auto">
            <div class="mb-2" th:id="${templateFile}" th:each="templateFile : ${templateFiles}">
                <a th:href="@{'/excelimport/download/template/' + ${templateFile}}" th:title="${templateFile}" th:text="${templateFile}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
