<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{administration.excel.export.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1 th:text="#{administration.excel.export.title}"></h1>
            <p th:text="#{excel.export.hint}"></p>
			<div class="row">
				<div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
					<a class="btn btn-primary" role="button" th:href="@{/excelexport/allBets}">
						<i class="fas fa-file-excel"></i> <span th:text="#{administration.excel.export.allBets}"></span>
					</a>
				</div>
                <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
                    <a class="btn btn-primary" role="button" th:href="@{/excelexport/extraBets}">
                        <i class="fas fa-file-excel"></i> <span th:text="#{administration.excel.export.extraBets}"></span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
                    <a class="btn btn-primary" role="button" th:href="@{/excelexport/ranking}">
                        <i class="fas fa-file-excel"></i> <span th:text="#{administration.excel.export.ranking}"></span>
                    </a>
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
                    <a class="btn btn-primary" role="button" th:href="@{/excelexport/pointsCount}">
                        <i class="fas fa-file-excel"></i> <span th:text="#{administration.excel.export.pointsCount}"></span>
                    </a>
                </div>
            </div>
		</div>
	</body>
</html>
