<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{administration.excel.export.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<div th:replace="~{fragments/alert :: alert_headline}"></div>
			<h1 th:text="#{administration.excel.export.title}"></h1>
			<div class="row">			
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p th:text="#{excel.export.hint}"></p>
					<a class="btn btn-primary" role="button" th:href="@{/excelexport/allBets}">
						<i class="fa fa-file-excel-o"></i> <span th:text="#{administration.excel.export.allBets}"></span>
					</a>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<a class="btn btn-primary" role="button" th:href="@{/excelexport/ranking}">
						<i class="fa fa-file-excel-o"></i> <span th:text="#{administration.excel.export.ranking}"></span>
					</a>
				</div>
			</div>
			<hr/>
			<div class="row">			
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<a class="btn btn-primary" role="button" th:href="@{/excelexport/extraBets}">
						<i class="fa fa-file-excel-o"></i> <span th:text="#{administration.excel.export.extraBets}"></span>
					</a>
				</div>
			</div>
			<hr/>
			<div class="row">			
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<a class="btn btn-primary" role="button" th:href="@{/excelexport/pointsCount}">
						<i class="fa fa-file-excel-o"></i> <span th:text="#{administration.excel.export.pointsCount}"></span>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>