<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{lastlogins.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1 th:text="#{lastlogins.title}"></h1>
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4" th:each="appUser : ${userList}">
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <span th:text="${appUser.username}"></span>
                                </div>
                                <div class="col-6 text-end">
                                    <span th:text="${#temporals.format(appUser.lastLogin, 'yyyy-MM-dd HH:mm')}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</body>
</html>
