<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{lastlogins.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1 th:text="#{lastlogins.title}"></h1>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" th:each="appUser : ${userList}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="${appUser.username}"></span>
							<span class="right" th:text="${#temporals.format(appUser.lastLogin, #messages.msg('app.dateformatWithSeconds'))}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>