<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{administration.config.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
            <h1 th:text="#{administration.runtime.configuration}"></h1>
			<form id="saveRuntimeSettingsForm" th:action="@{/runtimesettings/saveRuntimeSettings}" th:object="${runtimeSettingsCommand}" action="#" method="post" role="form">
				<div class="row">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
                        <h2 th:text="#{administration.runtime.configuration.presets}"></h2>
                        <div class="mb-3">
                            <label for="teamBundle" class="form-label" th:text="#{testdata.teambundle}"></label><br/>
                            <select id="teamBundle" th:field="*{runtimeSettings.teamBundle}" class="form-select" hx-get="/runtimesettings/team-bundle" hx-on="change" hx-target="#favouriteCountry" hx-swap="innerHTML">
                                <option th:each="teamBundle : ${availableTeamBundles}" th:value="${teamBundle}" th:text="#{${'teamBundle.' + teamBundle}}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="favouriteCountry" class="form-label" th:text="#{administration.runtime.configuration.favouriteCountry} + ':'"></label>
                            <select id="favouriteCountry" th:field="*{runtimeSettings.favouriteCountry}" class="form-select">
                                <option th:each="teamView : ${availableTeams}" th:value="${teamView.country()}" th:text="${teamView.teamName()}" th:fragment="favouriteCountryOptions"></option>
                            </select>
                        </div>
                    </div>
					<div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
						<h2 th:text="#{administration.runtime.configuration.misc}"></h2>
                        <div class="form-check mb-2">
                            <input id="enabledParentChildRanking" type="checkbox" th:field="*{runtimeSettings.enabledParentChildRanking}" class="form-check-input"/>
                            <label for="enabledParentChildRanking" class="form-check-label" th:text="#{administration.runtime.configuration.enabledParentChildRanking}"></label>
                            <span class="fas fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                  th:title="#{administration.runtime.configuration.enabledParentChildRanking.tooltip}"></span>
                        </div>
                        <div class="form-check mb-2">
                            <input id="enableChangingUsername" type="checkbox" th:field="*{runtimeSettings.enableChangingUsername}" class="form-check-input"/>
                            <label for="enableChangingUsername" class="form-check-label" th:text="#{administration.runtime.configuration.enableChangingUsername}"></label>
                            <span class="fas fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                  th:title="#{administration.runtime.configuration.enableChangingUsername.tooltip}"></span>
                        </div>
                        <div class="form-check mb-2">
                            <input id="showDemoDataNavigationEntry" type="checkbox" th:field="*{runtimeSettings.showDemoDataNavigationEntry}" class="form-check-input"/>
                            <label for="showDemoDataNavigationEntry" class="form-check-label" th:text="#{administration.runtime.configuration.showDemoDataNavigationEntry}"></label>
                            <span class="fas fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                  th:title="#{administration.runtime.configuration.showDemoDataNavigationEntry.tooltip}"></span>
                        </div>
                        <div class="form-check mb-2">
                            <input id="changePasswordOnFirstLogin" type="checkbox" th:field="*{runtimeSettings.changePasswordOnFirstLogin}" class="form-check-input"/>
                            <label for="changePasswordOnFirstLogin" class="form-check-label" th:text="#{administration.runtime.configuration.changePasswordOnFirstLogin}"></label>
                            <span class="fas fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                  th:title="#{administration.runtime.configuration.changePasswordOnFirstLogin.tooltip}"></span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
                        <label for="passwordForReset" class="form-label" th:text="#{administration.runtime.configuration.passwordForReset} + ':'"></label>
                        <input id="passwordForReset" type="text" th:field="*{runtimeSettings.passwordForReset}" class="form-control" />
                        <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('runtimeSettings.passwordForReset')}" th:errors="*{runtimeSettings.passwordForReset}">passwordForReset Error</p>
                    </div>
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
                        <h2 th:text="#{administration.runtime.configuration.timeZone}"></h2>
                        <div class="row">
                            <div class="col-8 mb-2">
                                <select id="timeZone" th:field="*{runtimeSettings.timeZone}" class="form-select">
                                    <option th:each="timeZone : ${runtimeSettingsCommand.timeZoneIds}" th:text="${timeZone}" th:value="${timeZone}"></option>
                                </select>
                                <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('runtimeSettings.timeZone')}" th:errors="*{runtimeSettings.timeZone}">timeZone Error</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label for="currentTime" class="form-label" th:text="#{administration.runtime.configuration.currentTime} + ':'"></label>
                                <span id="currentTime" th:text="${runtimeSettingsCommand.currentTime}"></span>
                            </div>
                        </div>
                    </div>
					<div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
                        <h2 th:text="#{administration.runtime.configuration.joker}"></h2>
                        <label for="runtimeSettings.jokerMaxCount" class="form-label" th:text="#{administration.runtime.configuration.jokerMaxCount.title} + ':'"></label>
                        <input id="runtimeSettings.jokerMaxCount" type="text" th:field="*{runtimeSettings.jokerMaxCount}" class="form-control w-25" />
                        <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('runtimeSettings.jokerMaxCount')}" th:errors="*{runtimeSettings.jokerMaxCount}"></p>
					</div>

                    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
                        <h2 th:text="#{administration.runtime.configuration.registrationCode}"></h2>
                        <div class="form-check">
                            <input id="selfRegistrationEnabled" type="checkbox" th:field="*{runtimeSettings.selfRegistrationEnabled}" onchange="triggerCheckboxSelfRegistration()" class="form-check-input"/>
                            <label for="selfRegistrationEnabled" class="form-check-label" th:text="#{administration.runtime.configuration.selfRegistrationEnabled}"></label>
                            <span class="fas fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                  th:title="#{administration.runtime.configuration.selfRegistrationEnabled.tooltip}"></span>
                        </div>
                        <div id="registrationCodeBox" class="form-group">
                            <label for="runtimeSettings.registrationCode" class="form-label" th:text="#{administration.runtime.configuration.registrationCode.title} + ':'"></label>
                            <input id="runtimeSettings.registrationCode" type="text" th:field="*{runtimeSettings.registrationCode}" class="form-control" />
                            <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('runtimeSettings.registrationCode')}" th:errors="*{runtimeSettings.registrationCode}"></p>
                        </div>
                    </div>

					<div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
						<h2 th:text="#{administration.runtime.configuration.imageUploadLimit}"></h2>
                        <label for="runtimeSettings.imageUploadLimit" class="form-label" th:text="#{administration.runtime.configuration.imageUploadLimit.title} + ':'"></label>
                        <span class="fas fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                              th:title="#{administration.runtime.configuration.imageUploadLimit.tooltip}"></span>
                        <input id="runtimeSettings.imageUploadLimit" type="text" th:field="*{runtimeSettings.imageUploadLimit}" class="form-control" />
                        <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('runtimeSettings.imageUploadLimit')}" th:errors="*{runtimeSettings.imageUploadLimit}"></p>
					</div>
				</div>

				<div class="row">
					<div class="col-auto">
						<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
					</div>
				</div>
			</form>
		</div>
	</body>
	<th:block layout:fragment="scripts">
        <script type="text/javascript" th:src="@{/js/htmx-2.0.6.min.js}" charset="UTF-8"></script>
		<script type="text/javascript" th:src="@{/js/pages/runtime_settings.js}" charset="UTF-8"></script>
	</th:block>
</html>
