<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorate="_layout">
	<head>
		<title th:text="#{administration.config.title}"></title>		
	</head>
	<body>
		<div layout:fragment="content">
			<div th:replace="~{fragments/alert :: alert_headline}"></div>
			
			<h2 th:text="#{administration.runtime.configuration}"></h2>
			<form id="saveRuntimeConfigForm" th:action="@{/runtimeconfig/saveRuntimeConfig}" th:object="${runtimeConfigCommand}" action="#" method="post" role="form">
				<div class="row">			
					<div class="col-xs-12 col-sm-6 col-md-4">					
						<ul class="list-group">
							<li class="list-group-item">								
								<input type="checkbox" th:field="*{runtimeConfig.enabledParentChildRanking}"/>
								<label for="child" th:text="#{administration.runtime.configuration.enabledParentChildRanking}"></label>
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" 
								th:title="#{administration.runtime.configuration.enabledParentChildRanking.tooltip}"></span>								
							</li>
							<li class="list-group-item">									
								<input type="checkbox" th:field="*{runtimeConfig.enableChangingUsername}"/>
								<label for="child" th:text="#{administration.runtime.configuration.enableChangingUsername}"></label>
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" 
								th:title="#{administration.runtime.configuration.enableChangingUsername.tooltip}"></span>
							</li>
							<li class="list-group-item">									
								<input type="checkbox" th:field="*{runtimeConfig.showDemoDataNavigationEntry}"/>
								<label for="child" th:text="#{administration.runtime.configuration.showDemoDataNavigationEntry}"></label>
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" 
								th:title="#{administration.runtime.configuration.showDemoDataNavigationEntry.tooltip}"></span>
							</li>
							<li class="list-group-item">									
								<input type="checkbox" th:field="*{runtimeConfig.createDemoData}"/>
								<label for="child" th:text="#{administration.runtime.configuration.createDemoData}"></label>
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" 
								th:title="#{administration.runtime.configuration.createDemoData.tooltip}"></span>
							</li>
							<li class="list-group-item">								
								<input type="checkbox" th:field="*{runtimeConfig.changePasswordOnFirstLogin}"/>
								<label for="child" th:text="#{administration.runtime.configuration.changePasswordOnFirstLogin}"></label>
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" 
								th:title="#{administration.runtime.configuration.changePasswordOnFirstLogin.tooltip}"></span>								
							</li>
						</ul>														
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">	
						<div class="form-group">
							<label for="favouriteCountry" th:text="#{administration.runtime.configuration.favouriteCountry} + ':'"></label> 
							<select th:field="*{runtimeConfig.favouriteCountry}" class="form-control">
							    <option th:each="country : ${availableCountries}" th:value="${country}" th:text="#{${'country.' + country.isoCode}}"></option>
							</select>
							<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('runtimeConfig.favouriteCountry')}" th:errors="*{runtimeConfig.favouriteCountry}">favouriteCountry Error</p>						
						</div>
						<div class="form-group">
							<label for="passwordForReset" th:text="#{administration.runtime.configuration.passwordForReset} + ':'"></label> 
							<input type="text" th:field="*{runtimeConfig.passwordForReset}" class="form-control" />
							<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('runtimeConfig.passwordForReset')}" th:errors="*{runtimeConfig.passwordForReset}">passwordForReset Error</p>						
						</div>	
						<div class="form-group">
							<label for="currentTime" th:text="#{administration.runtime.configuration.currentTime} + ':'"></label>
							<br/> 
							<span th:text="${runtimeConfigCommand.currentTime}"></span>						
						</div>
						<div class="form-group">
							<label for="timeZone" th:text="#{administration.runtime.configuration.timeZone}"></label> 
							<select th:field="*{timeZone}" class="form-control">
							  <option th:each="timeZone : ${runtimeConfigCommand.timeZoneIds}" th:text="${timeZone}" th:value="${timeZone}"></option>
							</select>
							<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('timeZone')}" th:errors="*{timeZone}">timeZone Error</p>						
						</div>					
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<label th:text="#{administration.runtime.configuration.extraBetPoints}"></label>
						<div class="form-group">
							<label for="runtimeConfig.pointsFinalWinner" th:text="#{administration.runtime.configuration.pointsFinalWinner.title} + ':'"></label> 
							<input type="text" th:field="*{runtimeConfig.pointsFinalWinner}" class="form-control" />
							<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('runtimeConfig.pointsFinalWinner')}" th:errors="*{runtimeConfig.pointsFinalWinner}"></p>						
						</div>
						<div class="form-group">
							<label for="runtimeConfig.pointsSemiFinalWinner" th:text="#{administration.runtime.configuration.pointsSemiFinalWinner.title} + ':'"></label> 
							<input type="text" th:field="*{runtimeConfig.pointsSemiFinalWinner}" class="form-control" />
							<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('runtimeConfig.pointsSemiFinalWinner')}" th:errors="*{runtimeConfig.pointsSemiFinalWinner}"></p>						
						</div>	
						<div class="form-group">
							<label for="runtimeConfig.pointsThirdFinalWinner" th:text="#{administration.runtime.configuration.pointsThirdFinalWinner.title} + ':'"></label> 
							<input type="text" th:field="*{runtimeConfig.pointsThirdFinalWinner}" class="form-control" />
							<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('runtimeConfig.pointsThirdFinalWinner')}" th:errors="*{runtimeConfig.pointsThirdFinalWinner}"></p>						
						</div>
					</div>
				</div>				
				<div class="row">			
					<div class="col-xs-12 col-sm-12 col-md-6">	
						<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>	
					</div>
				</div>
			</form>
			<script type="text/javascript" th:src="@{/js/pages/tooltip.js}" charset="UTF-8"></script>
		</div>		
	</body>
</html>