<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{systeminfo.title}"></title>
        <link rel="stylesheet" th:href="@{/css/pages/systeminfo.css}" />
	</head>
	<body>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-12 col-sm-8 col-md-6 col-lg-4" th:each="entry: ${buildInfoMap.entrySet()}">
					<div class="card mb-3">
						<div class="card-header">
							  <span th:text="${entry.key}"></span>
						</div>
						<div class="card-body panel-text-responsive">
							 <span th:text="${entry.value}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
