<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
	<head>
		<title th:text="#{image.gallery.title}"></title>
		<link rel="stylesheet" th:href="@{/blueimpgallery/css/blueimp-gallery.min.css}" />
	</head>
	<body>
		<div layout:fragment="content" class="container">
			<div th:replace="fragments/alert :: alert_headline"></div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div id="links" class="gallery-images">
						<div th:id="${galleryGroup}" th:each="galleryGroup : ${groupedImageCommands.keySet()}">
							<br/>
							<label th:text="${galleryGroup}"></label>
							<br/>
							<a th:each="imageCommand : ${groupedImageCommands.get(galleryGroup)}" th:href="@{'/gallery/show/' + ${imageCommand.imageKey}}" 
										th:title="${imageCommand.description}" th:attr="data-gallery='#blueimp-gallery-'+${imageCommand.galleryGroup}">
						        <img th:src="@{'/gallery/showthumb/' + ${imageCommand.imageKey}}" th:alt="${imageCommand.imageKey}" class="img-responsive gallery"/>
						    </a>
						</div>												
					</div>
					
					<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
					    <div class="slides"></div>
					    <h3 class="title"></h3>
					    <a class="prev">‹</a>
					    <a class="next">›</a>
					    <a class="close">×</a>
					    <a class="play-pause"></a>
					    <ol class="indicator"></ol>
					</div>					
					<script type="text/javascript" th:src="@{/blueimpgallery/js/blueimp-gallery.min.js}"></script>
					<script type="text/javascript" th:src="@{/js/pages/gallery.js}"></script>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<a href="#" th:href="@{/image/show}" class="btn btn-primary" th:text="#{image.gallery.toUploadImagePage}"></a>
				</div>	
			</div>
			<br/>
			<div class="row" th:if="${!groupedImageCommands.isEmpty()}" sec:authorize="hasAuthority('PERM_DOWNLOAD_IMAGES')">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<a href="#" th:href="@{/gallery/download/all}" th:text="#{image.gallery.downloadAll}"></a>
				</div>	
			</div>
		</div>
	</body>	
</html>