<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{image.gallery.title}"></title>
		<link rel="stylesheet" th:href="@{/blueimpgallery-3.4.0/css/blueimp-gallery.min.css}" />
        <link rel="stylesheet" th:href="@{/css/pages/gallery.css}" />
	</head>
	<body>
		<div layout:fragment="content">
			<div class="row mb-3">
				<div class="col-12">
					<div id="links">
						<div class="" th:id="${galleryGroup}" th:each="galleryGroup : ${groupedImageCommands.keySet()}">
							<span class="fw-bold" th:text="${galleryGroup}"></span><br/>
							<a th:each="imageCommand : ${groupedImageCommands.get(galleryGroup)}" th:href="@{'/gallery/show/' + ${imageCommand.imageKey}}"
										th:title="${imageCommand.description}" th:attr="data-gallery='#blueimp-gallery-'+${imageCommand.galleryGroup}">
								<img th:src="@{'/gallery/showthumb/' + ${imageCommand.imageKey}}" th:alt="${imageCommand.imageKey}" class="img-responsive mt-2 me-2 mb-2"/>
						    </a>
						</div>
					</div>

					<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
					    <div class="slides"></div>
					    <h3 class="title"></h3>
					    <a class="prev"></a>
					    <a class="next"></a>
					    <a class="close"></a>
					    <a class="play-pause"></a>
					    <ol class="indicator"></ol>
					</div>
				</div>
			</div>

			<div class="row mb-3">
				<div class="col-12 col-sm-3">
					<a href="#" th:href="@{/image/show}" class="btn btn-primary" th:text="#{image.gallery.toUploadImagePage}"></a>
				</div>
                <div class="col-12 col-sm-6" th:if="${!groupedImageCommands.isEmpty()}" sec:authorize="hasAuthority('PERM_DOWNLOAD_IMAGES')">
                    <a href="#" th:href="@{/gallery/download/all}" th:text="#{image.gallery.downloadAll}"></a>
                </div>
			</div>
		</div>
	</body>
	<th:block layout:fragment="scripts">
		<script type="text/javascript" th:src="@{/blueimpgallery-3.4.0/js/blueimp-gallery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/pages/gallery.js}"></script>
	</th:block>
</html>
