<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
	<head>
		<title th:text="#{image.upload.title}"></title>
	</head>
	<body>
		<div layout:fragment="content" class="container">
			<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}"></div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="table-responsive">
				   		<table class="table table-condensed table-striped">
				   			<thead>
					   			<tr>
					   				<th>ImageId</th>
					   				<th>Group</th>
					   				<th>File Name</th>					   				
					   				<th>Description</th>
					   				<th>Thumbnail</th>
					   				<th>Delete image</th>
					   			</tr>
				   			</thead>
				   			<tbody>
					   			<tr th:each="imageCommand : ${availableImages}">
					   				<td th:text="${imageCommand.imageId}"></td>
					   				<td th:text="${imageCommand.galleryGroup}"></td>
					   				<td th:text="${imageCommand.fileName}"></td>
					   				<td th:text="${imageCommand.description}"></td>
					   				<td>
					   					<a th:href="@{'/gallery/show/' + ${imageCommand.imageId}}">
					   						<img th:src="@{'data:image/jpeg;base64,'+${imageCommand.thumbImageAsBase64}}" class="img-responsive displayed"/>
					   					</a>
					   				</td>
					   				<td>
					   					<a href="#" th:href="@{'/image/delete/' + ${imageCommand.imageId}}" class="btn btn-danger" role="button" th:text="#{button.delete}"></a>	
					   				</td>
					   			</tr>
				   			</tbody>
				   		</table>
			   	   </div>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<form th:action="@{/image/upload}" th:object="${imageUploadCommand}" method="post" enctype="multipart/form-data" role="form">
						<label>Gallery Group:</label><br/>
						<input type="text" th:field="*{galleryGroup}" class="form-control" />
						<label>Description:</label><br/>
						<input type="text" th:field="*{description}" class="form-control" />
					    <label>Datei:</label><br/>
					    <input type="file" th:field="*{myFile}" class="btn btn-default btn-file" />
					    <br/>
				        <input type="submit" class="btn btn-primary" th:value="#{image.upload.button}" />
				    </form>
			    </div>
			</div>
		</div>
	</body>
</html>