<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
	<head>
		<title th:text="#{image.group.title}"></title>
		<script type="text/javascript" th:src="@{/js/pages/image_group.js}" charset="UTF-8"></script>
	</head>
	<body>
		<div layout:fragment="content" class="container">
			<div th:replace="fragments/alert :: alert_headline"></div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<form th:action="@{/imagegroup/delete}" th:object="${imageGroupCommand}" method="post" role="form">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 no-left-padding">
								<div class="form-group">
									<select id="groupSelection" th:field="*{id}" class="form-control">
									  <option th:each="imageGroupCommand : ${availableImageGroups}" th:value="${imageGroupCommand.id}" th:text="${imageGroupCommand.name}"></option>
									</select>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 no-left-right-padding">
								<button type="button" class="btn btn-info" onclick="editImageGroup()" th:text="#{button.edit}"></button>
								<input type="submit" class="btn btn-danger" th:value="#{button.delete}" />
							</div>
						</div>
					</form>
					<form th:action="@{/imagegroup/save}" th:object="${imageGroupCommand}" method="post" role="form">
						<div class="row">
							<div class="form-group">
								<input id="imageGroupId" type="hidden" th:field="*{id}" class="form-control" />
								<label th:text="#{image.group.name}"></label>
								<input id="imageGroupName" type="text" th:field="*{name}" class="form-control" />
							</div>
						</div>
						<div class="row">
							<input type="submit" class="btn btn-primary" th:value="#{button.save}" />							
					    	<a href="#" th:href="@{/image/show/}" class="btn btn-default" role="button" th:text="#{button.backToImageUpload}"></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>