<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{image.upload.title}"></title>
		<link rel="stylesheet" th:href="@{/bootstrap-table/bootstrap-table.min.css}">
		<link rel="stylesheet" th:href="@{/css/pages/image_upload.css}" />
	</head>
	<body>
		<div layout:fragment="content">
            <div th:replace="~{fragments/alert :: alert_headline}"></div>
            <form th:action="@{/image/upload}" th:object="${imageUploadCommand}" method="post" enctype="multipart/form-data" role="form">
                <div class="row">
                    <div class="col-12 col-sm-3 col-md-2">
                        <div class="mb-3">
                            <label for="groupName" class="form-label" th:text="#{image.upload.groupName}"></label><br/>
                            <select id="groupName" th:field="*{galleryGroup}" class="form-select">
                                <option th:each="imageGroupName : ${availableImageGroups}" th:value="${imageGroupName}" th:text="${imageGroupName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-md-2" sec:authorize="hasAuthority('PERM_EDIT_IMAGE_GROUP')">
                        <div class="mb-3">
                            <label class="form-label" th:text="#{image.upload.editGroup}"></label><br/>
                            <a href="#" th:href="@{/imagegroup/show}" class="btn btn-info" role="button" th:text="#{image.upload.msg.editGroup}"></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="mb-3">
                            <label class="form-label" th:text="#{image.upload.file}"></label><br/>
                            <input class="form-control" id="upload" type="file" accept="image/jpeg"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="mb-3">
                            <input id="myFileBase64" type="hidden" name="myFileBase64" value="" />
                            <img id="preview" class="img-thumbnail"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-2">
                        <div class="mb-3">
                            <label class="form-label" th:text="#{image.upload.rotate}"></label><br/>
                            <button type="button" class="rotate-image-btn btn btn-dark" data-deg="-90">
                                <i class="fas fa-undo" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="rotate-image-btn btn btn-dark" data-deg="90">
                                <i class="fas fa-redo" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="mb-3">
                            <label for="description" class="form-label" th:text="#{image.upload.description}"></label><br/>
                            <input id="description" type="text" th:field="*{description}" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <div class="mb-3">
                            <input type="submit" class="btn btn-primary" th:value="#{image.upload.button}" />
                            <a href="#" th:href="@{/gallery/show}" class="btn btn-light" th:text="#{image.upload.toImageGallery}"></a>
                        </div>
                    </div>
                </div>
            </form>

			<div class="row mt-3">
				<div class="col-12">
					<div class="table-responsive">
				   		<table class="table table-condensed table-striped table-responsive" data-toggle="table" data-pagination="true" data-page-size="5">
				   			<thead>
					   			<tr>
					   				<th data-sortable="true" th:text="#{image.upload.id}" class="d-none d-sm-block"></th>
					   				<th data-sortable="true" th:text="#{image.upload.groupName}"></th>
					   				<th data-sortable="true" th:text="#{image.upload.description}" class="d-none d-sm-block"></th>
					   				<th th:text="#{image.upload.thumbnail}"></th>
					   				<th th:text="#{image.upload.deleteImage}"></th>
					   			</tr>
				   			</thead>
				   			<tbody>
					   			<tr th:each="imageCommand : ${availableImages}">
					   				<td th:text="${imageCommand.imageId}" class="vert-align d-none d-sm-block"></td>
					   				<td th:text="${imageCommand.galleryGroup}" class="vert-align"></td>
					   				<td th:text="${imageCommand.description}" class="vert-align d-none d-sm-block"></td>
					   				<td class="vert-align">
										<span th:replace="~{fragments/image_popup :: image_popup(${imageCommand.imageKey})}"></span>
					   				</td>
					   				<td class="vert-align text-center">
					   					<a href="#" th:href="@{'/image/delete/' + ${imageCommand.imageKey}}" class="btn btn-danger" role="button">
                                            <i class="fas fa-trash"></i>
                                        </a>
					   				</td>
					   			</tr>
				   			</tbody>
				   		</table>
			   	   </div>
				</div>
			</div>
		</div>
		<th:block layout:fragment="scripts">
			<script type="text/javascript" th:src="@{/js/jquery-rotate.js}"></script>
			<script type="text/javascript" th:src="@{/js/compress.js}" charset="UTF-8"></script>
			<script type="text/javascript" th:src="@{/js/pages/image_upload.js}" charset="UTF-8"></script>
			<script th:src="@{/bootstrap-table/bootstrap-table.min.js}"></script>
			<script th:src="@{/bootstrap-table/extensions/multiple-sort/bootstrap-table-multiple-sort.js}"></script>
		</th:block>
	</body>
</html>
