<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
	<head>
		<title th:text="#{image.upload.title}"></title>
	</head>
	<body>
		<div layout:fragment="content" class="container">
			<h1 th:text="#{image.upload.title}"></h1>

			<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}"></div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4" th:each="availableImage : ${availableImages}">
					<img th:src="@{'data:image/jpeg;base64,'+${availableImage}}" class="img-responsive"/>
				</div>
				
				<form th:action="@{/image/upload}" method="post" enctype="multipart/form-data">
			       <input type="file" name="myFile" class="form-control" />
			       <input type="submit" class="btn btn-primary" th:value="#{image.upload.button}" />
			    </form>
			</div>
		</div>
	</body>
</html>