<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{image.upload.title}"></title>
	</head>
	<body>
		<div layout:fragment="content" class="container">
			<div th:replace="~{fragments/alert :: alert_headline}"></div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<form th:action="@{/image/upload}" th:object="${imageUploadCommand}" method="post" enctype="multipart/form-data" role="form">
						<div class="form-group">
							<label th:text="#{image.upload.groupName}"></label><br/>
							<select th:field="*{galleryGroup}" class="form-control">
							  <option th:each="imageGroupName : ${availableImageGroups}" th:value="${imageGroupName}" th:text="${imageGroupName}"></option>
							</select>
						</div>
						<div class="form-group" sec:authorize="hasAuthority('PERM_EDIT_IMAGE_GROUP')">
							<label th:text="#{image.upload.editGroup}"></label><br/>
							<a href="#" th:href="@{/imagegroup/show}" class="btn btn-info" role="button" th:text="#{image.upload.msg.editGroup}"></a>
						</div>
						<div class="form-group">
							<label th:text="#{image.upload.file}"></label><br/>
					    	<input id="upload" type="file" accept="image/jpeg"/>
							<input id="myFileBase64" type="hidden" name="myFileBase64" value="" />
							<img id="preview" class="img-responsive"/>
						</div>
						<div class="form-group">
							<label th:text="#{image.upload.rotate}"></label><br/>
							<button type="button" class="rotate-image-btn btn" data-deg="-90">
								<i class="fas fa-undo" aria-hidden="true"></i>
							</button>
							<button type="button" class="rotate-image-btn btn" data-deg="90">
								<i class="fas fa-redo" aria-hidden="true"></i>
							</button>
						</div>
						<div class="form-group">
							<label th:text="#{image.upload.description}"></label><br/>
							<input type="text" th:field="*{description}" class="form-control" />
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" th:value="#{image.upload.button}" />
							<a href="#" th:href="@{/gallery/show}" class="btn btn-default" th:text="#{image.upload.toImageGallery}"></a>
						</div>				        
				    </form>
			    </div>
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="table-responsive">
				   		<table class="table table-condensed table-striped table-responsive">
				   			<thead>
					   			<tr>
					   				<th th:text="#{image.upload.id}" class="hidden-xs"></th>
					   				<th th:text="#{image.upload.groupName}"></th>
					   				<th th:text="#{image.upload.description}" class="hidden-xs"></th>
					   				<th th:text="#{image.upload.thumbnail}"></th>
					   				<th th:text="#{image.upload.deleteImage}"></th>
					   			</tr>
				   			</thead>
				   			<tbody>
					   			<tr th:each="imageCommand : ${availableImages}">
					   				<td th:text="${imageCommand.imageId}" class="vert-align hidden-xs"></td>
					   				<td th:text="${imageCommand.galleryGroup}" class="vert-align"></td>
					   				<td th:text="${imageCommand.description}" class="vert-align hidden-xs"></td>
					   				<td class="vert-align">
										<span th:replace="~{fragments/image_popup :: image_popup(${imageCommand.imageKey})}"></span>
					   				</td>
					   				<td class="vert-align">
					   					<a href="#" th:href="@{'/image/delete/' + ${imageCommand.imageKey}}" class="btn btn-danger" role="button" th:text="#{button.delete}"></a>	
					   				</td>
					   			</tr>
				   			</tbody>
				   		</table>
			   	   </div>
				</div>
			</div>
		</div>
		<th:block layout:fragment="scripts">
			<script type="text/javascript" th:src="@{/js/jquery-rotate.js}"></script>
			<script type="text/javascript" th:src="@{/js/compress.js}" charset="UTF-8"></script>
			<script type="text/javascript" th:src="@{/js/pages/image_upload.js}" charset="UTF-8"></script>
		</th:block>
	</body>
</html>