<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">
<head>
	<title th:text="#{userprofile.changePassword.title}"></title>
</head>
<body>
    <div layout:fragment="content">
        <form id="changePasswordForm" th:action="@{/profile/changePassword}" th:object="${changePasswordCommand}" action="#" method="post" role="form">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label" th:text="#{userprofile.changePassword.oldPassword} + ':'"></label>
                        <input id="oldPassword" type="password" th:field="*{oldPassword}" class="form-control" />
                        <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">oldPassword error</p>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label" th:text="#{userprofile.changePassword.newPassword} + ':'"></label>
                        <input id="newPassword" type="password" th:field="*{newPassword}" class="form-control" />
                        <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">newPasswordRepeat error</p>
                    </div>
                    <div class="mb-3">
                        <label for="newPasswordRepeat" class="form-label" th:text="#{userprofile.changePassword.newPasswordRepeat} + ':'"></label>
                        <input id="newPasswordRepeat" type="password" th:field="*{newPasswordRepeat}" class="form-control" />
                        <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('newPasswordRepeat')}" th:errors="*{newPasswordRepeat}">newPasswordRepeat error</p>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
                        <a href="#" th:href="@{/}" class="btn btn-light" role="button" th:text="#{button.cancel}"></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
