<?xml version="1.0" encoding="UTF-8"?>
<!-- With status you can configure the log level for log4j internal logs -->
<configuration status="warn" packages="org.graylog2.log4j2">
	<appenders>
		<!-- <GELF name="gelfAppender" server="graylog" port="12202" hostName="fredbet_docker" protocol="UDP" additionalFields="environment=TEST,application=fredbet" 
			/> -->

		<File name="fileAppender" fileName="fredbet.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

		<Console name="consoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p [%c] - %m%n" />
		</Console>
	</appenders>

	<loggers>
		<logger name="org.springframework" level="WARN" />
		<logger name="org.springframework.security.web.session" level="WARN" />

		<logger name="de.fred4jupiter.fredbet" level="DEBUG" />

		<root level="INFO">
			<!-- <appender-ref ref="gelfAppender" /> -->
			<appender-ref ref="fileAppender" />
			<appender-ref ref="consoleAppender" />
		</root>
	</loggers>
</configuration>
