<?xml version="1.0" encoding="UTF-8"?>
<!-- With status you can configure the log level for log4j internal logs -->
<configuration status="warn" packages="org.graylog2.log4j2">
	<appenders>
		<!-- <GELF name="gelfAppender" server="graylog" port="12202" hostName="fredbet_docker" protocol="UDP" additionalFields="environment=TEST,application=fredbet" 
			/> -->

		<RollingFile name="rollingFileAppender" fileName="${sys:user.home}/fredbet.log" filePattern="fredbet-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>%d %p %c{1.} [%t] %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<Console name="consoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %p [%c] - %m%n" />
		</Console>
	</appenders>

	<loggers>
		<logger name="org.springframework" level="WARN" />
		<logger name="org.springframework.security" level="WARN" />

		<logger name="de.fred4jupiter.fredbet" level="DEBUG" />

		<root level="INFO">
			<!-- <appender-ref ref="gelfAppender" /> -->
			<appender-ref ref="rollingFileAppender" />
			<appender-ref ref="consoleAppender" />
		</root>
	</loggers>
</configuration>
