<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{importexport.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
            <div th:replace="~{fragments/alert :: alert_headline}"></div>
            <h3 class="mb-3" th:text="#{importexport.subtitle}"></h3>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <form th:action="@{/importexport/import}" th:object="${importExportCommand}" method="post" enctype="multipart/form-data" role="form">
                        <div class="card mb-3">
                            <div class="card-header">
                                <span th:text="#{importexport.import.file}"></span>
                            </div>
                            <div class="card-body">
                                <input id="jsonFile" type="file" th:field="*{jsonFile}" class="btn btn-light btn-file" />
                                <input type="submit" class="btn btn-primary mt-2" th:value="#{importexport.upload.button}" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <span th:text="#{importexport.export.data}"></span>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-secondary" role="button" th:href="@{/importexport/export}">
                                <i class="fas fa-download"></i>
                                <span th:text="#{importexport.export.name}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</body>
</html>
