<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
<head>
    <title th:text="#{footballdata.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{footballdata.title}"></h1>
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
            <a href="https://www.football-data.org/documentation/quickstart" target="_blank">Football Data Documentation</a>
        </div>
    </div>
    <form id="footballDataCommandForm" th:action="@{/footballdata/save}" th:object="${footballDataCommand}" action="#" method="post" role="form">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 mb-3">
                <div class="form-check mt-3 mb-3">
                    <input id="enabled" type="checkbox" th:field="*{enabled}" class="form-check-input"/>
                    <label for="enabled" class="form-check-label" th:text="#{footballdata.enabled}"></label>
                </div>
                <div class="accordion mb-3" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" th:text="#{footballdata.apiToken}">
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <input type="text" id="apiToken" class="form-control" th:field="*{apiToken}" />
                                <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('apiToken')}" th:errors="*{apiToken}">apiToken error</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="competitions" class="form-label" th:text="#{footballdata.competitions}"></label><br/>
                    <select id="competitions" th:field="*{competitionId}" class="form-select">
                        <option th:each="competition : ${footballDataCommand.competitions}" th:value="${competition.id()}" th:text="${competition.name() + ' - ' + competition.seasonYear()}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-auto">
                <a th:classappend="${!footballDataCommand.isEnabled()}? 'disabled'" th:href="@{/footballdata/fetch-comp}" class="btn btn-info" role="button" th:text="#{footballdata.fetch}">Fetch</a>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
            </div>
        </div>
    </form>

    <hr/>

    <div th:replace="~{fragments/delete_confirm :: delete_confirm_modal(href = '/footballdata/deleteAllBetsAndMatches', id='deleteAllBetsAndMatches')}"></div>
    <div class="row">
        <div class="col-auto mb-3">
            <a th:classappend="${!footballDataCommand.isEnabled()}? 'disabled'" th:href="@{/footballdata/import}" class="btn btn-info" role="button" th:text="#{footballdata.sync}">Trigger Sync now</a>
        </div>
        <div class="col-auto mb-3">
            <button th:disabled="${!footballDataCommand.isEnabled()}" type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteAllBetsAndMatches" th:text="#{administration.deleteAllBetsAndMatches}"></button>
        </div>
    </div>
</div>
</body>
</html>
