<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
<head>
    <title th:text="#{footballdata.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{footballdata.title}"></h1>
    <div class="row">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#setup-tab-pane" type="button"
                            role="tab" aria-controls="setup-tab-pane" aria-selected="false" th:text="#{footballdata.title.settings}"></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" th:classappend="${tabStatus.tab2Disabled ? 'disabled' : 'active'}" data-bs-toggle="tab" data-bs-target="#tournament-tab-pane" type="button"
                            role="tab" aria-controls="tournament-tab-pane" aria-selected="false" th:text="#{footballdata.title.tournament}"></button>
                </li>
            </ul>
            <div class="tab-content mb-3" id="myTabContent">
                <div class="tab-pane hide show" th:classappend="${tabStatus.tab1Active ? 'active' : ''}" id="setup-tab-pane" role="tabpanel" aria-labelledby="setup-tab" tabindex="0">
                    <div class="col-12 col-sm-5 mb-3 mt-3">
                        <div class="row">
                            <div class="col-auto">
                                <span>Quickstart: </span><a href="https://www.football-data.org/documentation/quickstart" target="_blank">football-data.org</a>
                            </div>
                        </div>
                        <form id="footballDataSetupForm" th:action="@{/footballdata/save}" th:object="${footballDataCommand}" action="#" method="post" role="form">
                            <div class="row">
                                <div class="col-12 col-sm-10 mb-3">
                                    <div class="form-check mt-3 mb-3">
                                        <input id="enabled" type="checkbox" th:field="*{enabled}" class="form-check-input" onclick="showHideActive()"/>
                                        <label for="enabled" class="form-check-label" th:text="#{footballdata.enabled}"></label>
                                    </div>
                                    <div id="fd-setup">
                                        <div class="mb-3">
                                            <label for="apiToken" class="form-label" th:text="#{footballdata.apiToken}"></label><br/>
                                            <input type="text" id="apiToken" class="form-control" th:field="*{apiToken}" />
                                            <p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('apiToken')}" th:errors="*{apiToken}">apiToken error</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane hide show" th:classappend="${tabStatus.tab2Active ? 'active' : ''}" id="tournament-tab-pane" role="tabpanel" aria-labelledby="tournament-tab" tabindex="1">
                    <div class="col-12 col-sm-5 mb-3 mt-3">
                        <form id="tournamentForm" th:action="@{/footballdata/save}" th:object="${footballDataCommand}" action="#" method="post" role="form">
                            <div class="row">
                                <div class="col-12 col-sm-10 mb-3">
                                    <div class="mb-3">
                                        <label for="competitions" class="form-label" th:text="#{footballdata.competitions}"></label><br/>
                                        <select id="competitions" th:field="*{competitionId}" class="form-select">
                                            <option th:each="competition : ${footballDataCommand.competitions}" th:value="${competition.id()}" th:text="${competition.name() + ' - ' + competition.seasonYear()}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-auto">
                                    <a th:classappend="${!footballDataCommand.isEnabled()}? 'disabled'" th:href="@{/footballdata/fetch-comp}" class="btn btn-outline-info" role="button" th:text="#{footballdata.fetch}">Fetch</a>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
                                </div>
                            </div>
                            <div class="col-12 col-sm-7 mb-3 mt-3">
                                <h2 th:text="#{footballdata.title.sync}"></h2>
                                <form id="footballDataSyncCommandForm" th:action="@{/footballdata/sync}" th:object="${footballDataSyncCommand}" action="#" method="post" role="form">
                                    <div class="form-check mt-3 mb-3">
                                        <input id="forceUpdate" type="checkbox" th:field="*{forceUpdate}" class="form-check-input"/>
                                        <label for="forceUpdate" class="form-check-label" th:text="#{footballdata.forceUpdate}"></label>
                                    </div>
                                    <div class="col-auto">
                                        <button th:disabled="${!footballDataCommand.isEnabled()}" type="submit" class="btn btn-info" th:text="#{footballdata.sync}"></button>
                                    </div>
                                </form>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/pages/footballdata.js}"></script>
</th:block>
</html>
