<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{login.logo.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
            <form th:action="@{/loginlogo}" th:object="${loginLogoCommand}" method="post" enctype="multipart/form-data" role="form">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <div class="mb-3">
                            <label class="form-label" th:text="#{image.upload.file}"></label><br/>
                            <input class="form-control" id="upload" type="file" accept="image/jpeg"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="mb-3">
                            <input id="myFileBase64" type="hidden" name="myFileBase64" />
                            <img id="preview" class="img-thumbnail" alt="preview" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-2">
                        <div class="mb-3">
                            <label class="form-label" th:text="#{image.upload.rotate}"></label><br/>
                            <button type="button" class="rotate-image-btn btn btn-dark" data-deg="-90">
                                <i class="fas fa-undo" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="rotate-image-btn btn btn-dark" data-deg="90">
                                <i class="fas fa-redo" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-auto mb-3">
                        <input type="submit" class="btn btn-primary" th:value="#{image.upload.button}" />
                    </div>
                    <div class="col-auto mb-3">
                        <a href="#" th:href="@{/loginlogo/delete}" class="btn btn-danger" role="button" th:text="#{button.delete}"></a>
                    </div>
                </div>
            </form>
		</div>
		<th:block layout:fragment="scripts">
            <script type="text/javascript" th:src="@{/js/jquery-rotate.js}"></script>
			<script type="text/javascript" th:src="@{/js/compress.js}" charset="UTF-8"></script>
			<script type="text/javascript" th:src="@{/js/pages/image_upload.js}" charset="UTF-8"></script>
		</th:block>
	</body>
</html>
