<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">
<head>
	<title th:text="#{user.edit.title}"></title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div th:replace="~{fragments/alert :: alert_headline}"></div>
		<form id="userForm" th:action="@{/user/edit}" th:object="${editUserCommand}" action="#" method="post" role="form">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<input type="hidden" th:field="*{userId}" class="form-control" />
					<div class="form-group">
						<label for="username" th:text="#{user.edit.username} + ':'"></label> 
						<input id="username" type="text" th:field="*{username}" class="form-control" readonly="readonly"/>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</p>						
					</div>					
					<div class="form-group">
						<label for="roles" th:text="#{user.create.roles} + ':'"></label>
						<ul class="list-group">
							<li class="list-group-item" th:each="role : ${availableRoles}">
								<input type="hidden" th:field="*{roles}" th:value="${role}" th:if="${@webSecurityUtil.isRoleSelectionDisabledForUser(editUserCommand.username)}"/>
								<input type="radio" th:field="*{roles}" th:value="${role}" th:disabled="${@webSecurityUtil.isRoleSelectionDisabledForUser(editUserCommand.username)}"/> 
								<label th:for="${#ids.prev('roles')}" th:text="#{'msg.' + ${role}}"></label>
								<span class="fas fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top"
								th:title="#{'user.edit.tooltip.' + ${role}}"></span>
							</li>
						</ul>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">roles error</p>
					</div>
					<div th:if="${@runtimeConfigurationUtil.getConfig().isEnabledParentChildRanking()}" class="form-group">								
						<input type="checkbox" th:field="*{child}" th:value="${child}"/>
						<label for="child" th:text="#{user.create.child}"></label>
						<p class="alert alert-danger field-alert" th:if="${#fields.hasErrors('child')}" th:errors="*{child}">child error</p>
					</div>					
					<div class="form-group">
						<a href="#" th:href="@{'/user/' + ${editUserCommand.userId} + '/resetPwd'}" class="btn btn-warning" role="button" th:text="#{button.password.reset}"></a>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" th:text="#{button.save}"></button>
						<a sec:authorize="hasAuthority('PERM_DELETE_USER')" href="#" th:href="@{'/user/' + ${editUserCommand.userId} + '/delete'}" 
							class="btn btn-danger" role="button" th:classappend="${!editUserCommand.isDeletable()}? 'disabled'" th:text="#{button.delete}"
                           data-toggle="confirmation" data-placement="top" th:data-title="#{confirmation.msg}" th:data-btn-ok-label="#{yes}" th:data-btn-cancel-label="#{no}"></a>
						<a href="#" th:href="@{/user}" class="btn btn-default" role="button" th:text="#{button.cancel}"></a>						
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
<th:block layout:fragment="scripts">
	<script type="text/javascript" th:src="@{/js/pages/tooltip.js}" charset="UTF-8"></script>
	<script type="text/javascript" th:src="@{/js/pages/confirmation.js}" charset="UTF-8"></script>
</th:block>
</html>