<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
<title>Benutzer bearbeiten</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}">Some Success message</div>
		<form id="userForm" th:action="@{/user/edit}" th:object="${userCommand}" action="#" method="post" role="form">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<input type="hidden" th:field="*{userId}" class="form-control" />
					<div class="form-group">
						<label for="username">Benutzername:</label> 
						<input type="text" th:field="*{username}" class="form-control" disabled="disabled"/>
					</div>					
					<ul class="list-group">
						<li class="list-group-item" th:each="role : ${userCommand.availableRoles}">
							<input type="checkbox" th:field="*{roles}" th:value="${role}" /> 
							<label th:for="${#ids.prev('roles')}" th:text="${role}"></label>
						</li>
					</ul>
					<div class="form-group" sec:authorize="hasAuthority('PERM_PASSWORD_RESET')">
						<input type="checkbox" th:field="*{resetPassword}" th:value="true" /> 
						<label for="resetPassword">Passwort zurücksetzen</label> 
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Speichern</button>
						<a sec:authorize="hasAuthority('PERM_DELETE_USER')" href="#" th:href="@{'/user/' + ${userCommand.userId} + '/delete'}" 
							class="btn btn-danger" role="button" th:classappend="${!userCommand.isDeletable()}? 'disabled'">Löschen</a>
						<a href="#" th:href="@{/user}" class="btn btn-default" role="button">Abbrechen</a>	
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>