<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
<title>Benutzer</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}">Some Success message</div>
		<h2>Benutzer</h2>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4" th:each="user : ${allUsers}">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
						  		<span class="bold" th:text="${user.username}">Bert</span>				  		
				  			</div>
			  			</div>				  									
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-7">
								<div th:each="role : ${user.roles}">
									<span th:text="${role}">ROLE_USER</span>
								</div>														  		
				  			</div>
				  			<div class="col-xs-2">
				  				<div class="btn-group">
									<a href="#" th:href="@{'/user/' + ${user.id}}" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
	       						</div>
				  			</div>				  
				  			<div class="col-xs-1">
				  			</div>			
				  			<div class="col-xs-2">
				  				<div class="btn-group">
									<a href="#" th:href="@{'/user/' + ${user.id} + '/delete'}" class="btn btn-lg btn-info" role="button"><span class="glyphicon glyphicon-remove"></span></a>
	       						</div>
				  			</div>				  			
      					</div>
				   </div>					   
				</div>
			</div>				
		</div>
		<a href="#" th:href="@{/user/create}" class="btn btn-primary" role="button">Benutzer anlegen</a>
	</div>
</body>
</html>