<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{user.list.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1 th:text="#{user.list.title} + ' (' + ${allUsers.size()} + ')'"></h1>
			<div class="row">
				<div class="col-12 col-sm-6 col-md-4" th:each="userDto : ${allUsers}">
					<div class="card mb-3">
						<div class="card-body">
							<div class="row">
								<div class="col-2">
                                    <a th:href="@{'/gallery/show/' + ${userDto.userProfileImageKey}}" th:attr="data-lightbox=${userDto.userProfileImageKey}" class="img-link">
                                        <img th:if="${userDto.userProfileImageKey}" th:src="@{'/gallery/showthumb/' + ${userDto.userProfileImageKey}}" width="34"  class="rounded-circle"/>
                                    </a>
					  			</div>
                                <div class="col-7">
                                    <span class="align-middle fw-bold" th:text="${userDto.username}"></span>
                                </div>
					  			<div class="col-3">
                                    <a sec:authorize="hasAuthority('PERM_EDIT_USER')" th:href="@{'/user/' + ${userDto.userId}}" class="btn btn-primary" role="button">
                                        <span class="fas fa-edit"></span>
                                    </a>
					  			</div>
	      					</div>
					   </div>
					</div>
				</div>
			</div>

            <div class="row mt-3">
                <div class="col-12 col-sm-6 col-md-4">
                    <a href="#" th:href="@{/user/create}" class="btn btn-primary" role="button" th:text="#{user.list.createUser}"></a>
                </div>
            </div>
		</div>
	</body>
</html>
