<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{user.importexport.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<h3 th:text="#{user.importexport.title}"></h3>
            <div class="row mt-3">
                <div class="col-12 col-sm-6 col-md-4">
                    <form th:action="@{/user/import}" th:object="${userImportExportCommand}" method="post" enctype="multipart/form-data" role="form">
                        <div class="card mb-3">
                            <div class="card-header">
                                <span th:text="#{user.importexport.import.file}"></span>
                            </div>
                            <div class="card-body">
                                <input id="jsonFile" type="file" th:field="*{jsonFile}" class="btn btn-light btn-file" />
                                <input type="submit" class="btn btn-primary mt-3" th:value="#{user.importexport.upload.button}" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <span th:text="#{user.importexport.export.name}"></span>
                        </div>
                        <div class="card-body">
                            <a href="#" th:href="@{/user/export}" th:text="#{user.importexport.export.users}"></a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</body>
</html>
