<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{user.importexport.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<h2 th:text="#{user.importexport.title}"></h2>
            <div class="row mt-3">
                <div class="col-12 col-sm-6 col-md-4">
                    <form th:action="@{/user/import}" th:object="${userImportExportCommand}" method="post" enctype="multipart/form-data" role="form">
                        <h3 th:text="#{user.importexport.import.file}"></h3>
                        <input id="jsonFile" type="file" th:field="*{jsonFile}" class="btn btn-default btn-file" />
                        <br/>
                        <input type="submit" class="btn btn-primary mt-3" th:value="#{user.importexport.upload.button}" />
                    </form>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <h3 th:text="#{user.importexport.export.name}"></h3>
                    <a href="#" th:href="@{/user/export}" th:text="#{user.importexport.export.users}"></a>
                </div>
            </div>
		</div>
	</body>
</html>
