<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title th:text="#{pointcourse.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="~{fragments/alert :: alert_headline}"></div>
    <h1 th:text="#{pointcourse.title}"></h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p th:text="#{pointcourse.subtitle}"></p>
        </div>
        <div th:if="${chartData}" class="col-12" style="height: 430px;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/Chart.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/chartjs-plugin-colorschemes.min.js}"></script>
    <script th:inline="javascript">
        var ctx = $('#myChart');
        var chartData = /*[[${chartData}]]*/ 'default';
        var myChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: {
                responsive: true,
                legend: {
                    position: 'bottom'
                },
                plugins: {
                    colorschemes: {
                        scheme: 'brewer.Paired7'
                    }
                },
                maintainAspectRatio: false
            }
        });
    </script>
</th:block>
</body>
</html>