<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title th:text="#{pointcourse.title}"></title>
    <script type="text/javascript" th:src="@{/js/Chart.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/chartjs-plugin-colorschemes.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{pointcourse.title}"></h1>
    <canvas id="myChart"></canvas>
    <script th:inline="javascript">
        var ctx = $('#myChart');
        var barChartData = /*[[${barChartData}]]*/ 'default';
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                legend: {
                    position: 'bottom'
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                plugins: {
                    colorschemes: {
                        scheme: 'brewer.Paired7'
                    }
                }
            }
        });
    </script>
</div>
</body>
</html>