<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
	<title th:text="#{prices.title}"></title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Preise</h1>		
		<div class="row">			
			<div class="col-xs-12 col-sm-12 col-md-12">
				<p>Der Jackpot wird wie folgt unter den besten 5 verteilt:</p>
				<ul>
					<li>1. Platz 40%</li>
					<li>2. Platz 25%</li>
					<li>3. Platz 20%</li>
					<li>4. Platz 10%</li>
					<li>5. Platz 5%</li>
				</ul>
				<p>Der beste Tipper aller Deutschlandspiele erhält einen Deutschland Schal  (gestiftet von <a href="http://www.iq-radiofick.de">Radio Fick</a>)</p>
				<p>Der beste Tipper aller Vorrundenspiele erhält einen adidas Spielball der EM 2016 (gestiftet von <a href="http://www.iq-radiofick.de">Radio Fick</a>)</p>
			</div>
		</div>		
	</div>
</body>
</html>