<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
	<title th:text="#{prices.title}"></title>
</head>
<body>
	<div layout:fragment="content" class="imgsizing">
		<h1 th:text="#{prices.title}"></h1>		
		<div class="row">			
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div th:remove="tag" th:utext="${textContent}"></div>
			</div>
		</div>
		<a sec:authorize="hasAuthority('PERM_EDIT_INFOS')" href="#" th:href="@{/info/editinfo/prices}" class="btn btn-primary" role="button" th:text="#{info.prices.edit.button}"></a>
	</div>
</body>
</html>