<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{standings.title}"></title>
	</head>
	<body>
		<div layout:fragment="content">
			<div th:replace="~{fragments/alert :: alert_headline}"></div>
			<h1 th:text="#{standings.title}"></h1>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4" th:if="${not #lists.isEmpty(standingsContainer.getForGroup(group))}" th:each="group : ${standingsContainer.groups}">
					<h2 th:text="#{'group.entry.'+ ${group}}"></h2>
					<div class="table-responsive">
						<table class="table small table-condensed table-centered">
							<thead>
								<tr class="active">
									<th>#</th>
									<th class="text-left">Team</th>
									<th title="Matches Played">MP</th>
									<th title="Wins">W</th>
									<th title="Draws">D</th>
									<th title="Looses">L</th>
									<th title="Goals">G</th>
									<th title="Goal Difference">Diff</th>
									<th title="Points">Pts</th>
								</tr>
							</thead>
							<tbody>
								<tr th:classappend="${teamStandings.getCssClass(iter.count)}" th:each="teamStandings,iter : ${standingsContainer.getForGroup(group)}">
									<td th:text="${iter.count}"></td>
									<td class="text-left" th:text="${teamStandings.teamName}"></td>
									<td th:text="${teamStandings.numberOfMatches}"></td>
									<td th:text="${teamStandings.numberOfWins}"></td>
									<td th:text="${teamStandings.numberOfUndecided}"></td>
									<td th:text="${teamStandings.numberOfLooses}"></td>
									<td th:text="${teamStandings.numberOfGoals} + ':' + ${teamStandings.numberOfGoalsAgainst}"></td>
									<td th:text="${teamStandings.numberOfGoalDifference}"></td>
									<td class="bold" th:text="${teamStandings.numberOfPoints}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h2 th:text="#{standings.legend}"></h2>
					<div class="table-responsive">
						<table class="table small table-bordered">
							<tbody>
							<tr>
								<td class="active center">MP</td>
								<td th:text="#{standings.matchesPlayed}"></td>
							</tr>
							<tr>
								<td class="active center">W</td>
								<td th:text="#{standings.winner}"></td>
							</tr>
							<tr>
								<td class="active center">D</td>
								<td th:text="#{standings.draw}"></td>
							</tr>
							<tr>
								<td class="active center">L</td>
								<td th:text="#{standings.looser}"></td>
							</tr>
							<tr>
								<td class="active center">G</td>
								<td th:text="#{standings.goals}"></td>
							</tr>
							<tr>
								<td class="active center">Diff</td>
								<td th:text="#{standings.goalDifference}"></td>
							</tr>
							<tr>
								<td class="active center">Pts</td>
								<td th:text="#{standings.points}"></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>