<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{_layout}">
	<head>
		<title th:text="#{statistics.title}"></title>
        <link rel="stylesheet" th:href="@{/css/pages/statistic.css}" />
	</head>
	<body>
		<div layout:fragment="content">
			<h1 th:text="#{statistics.title}"></h1>
			<div class="row mb-3" th:if="${not #lists.isEmpty(statisticList)}">
				<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2" th:if="${favouriteCountry != null}">
                    <span class="" th:classappend="${@teamUtil.cssClassFor(favouriteCountry)}"></span>
                    <span th:text="#{statistics.legend.favouriteCountry}"></span>
				</div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                    <span class="fas fa-magic" aria-hidden="true"></span> <span th:text="#{statistics.legend.bonusPoints}"></span>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
                    <span class="fas fa-star" aria-hidden="true"></span> <span th:text="#{statistics.legend.topBetter}"></span>
                </div>
				<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
					<span class="fas fa-lightbulb" aria-hidden="true"></span> <span th:text="#{statistics.legend.flopBetter}"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-sm-8 col-md-6 col-lg-4" th:each="statistic : ${statisticList}">
					<div class="card mb-3">
						<div class="card-header bg-info-subtle">
                            <div class="row">
                                <div class="col-2">
                                    <span th:replace="~{fragments/profile_image :: profile_image_small_with_popup(${@webSecurityUtil.getUserProfileImageKeyFor(statistic.username)})}"></span>
                                </div>
                                <div class="col-10">
                                    <span th:text="${statistic.username} + ' (' + ${statistic.getSum()} + ') '"></span>
                                    <span th:if="${statistic.minPointsCandidate}" class="fas fa-lightbulb" aria-hidden="true"></span>
                                    <span th:if="${statistic.maxPointsCandidate}" class="fas fa-star" aria-hidden="true"></span>
                                </div>
                            </div>
					   </div>
					   <div class="card-body">
						   <div class="table-responsive">
						   		<table class="table table-condensed table-centered table-striped center">
									<thead>
										<tr class="active">
											<th><i class="fas fa-users" aria-hidden="true"></i></th>
                                            <th th:if="${@groupAvailabilityUtil.isGroupAvailable('ROUND_OF_THIRTY_TWO')}">1/16</th>
                                            <th>1/8</th>
											<th>1/4</th>
											<th>1/2</th>
											<th>1/1</th>
											<th th:if="${@groupAvailabilityUtil.isGroupAvailable('GAME_FOR_THIRD')}">3.</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="success">
												<span th:text="${statistic.pointsGroup}"></span>
												<span th:if="${statistic.maxGroupPointsCandidate}" class="fas fa-star" aria-hidden="true"></span>
											</td>
                                            <td th:if="${@groupAvailabilityUtil.isGroupAvailable('ROUND_OF_THIRTY_TWO')}" class="warning" th:text="${statistic.pointsRoundOfThirtyTwo}"></td>
											<td class="warning" th:text="${statistic.pointsRoundOfSixteen}"></td>
											<td class="warning" th:text="${statistic.pointsQuarterFinal}"></td>
											<td class="warning" th:text="${statistic.pointsSemiFinal}"></td>
											<td class="warning" th:text="${statistic.pointsFinal}"></td>
											<td th:if="${@groupAvailabilityUtil.isGroupAvailable('GAME_FOR_THIRD')}" class="info" th:text="${statistic.pointsGameForThird}"></td>
										</tr>
									</tbody>
						   		</table>
					   	   </div>
					   </div>
                       <div class="card-footer bg-light">
                           <div class="row">
                               <div th:if="${favouriteCountry != null}" class="col-auto">
                                   <span class="" th:classappend="${@teamUtil.cssClassFor(statistic.favoriteCountry)}"></span>
                                   <span th:text="' (' + ${statistic.pointsFavoriteCountry} + ')'"></span>
                                   <span th:if="${statistic.maxFavoriteCountryCandidate}" class="fas fa-star" aria-hidden="true"></span>
                               </div>
                               <div class="col-auto">
                                   <span class="fas fa-magic" aria-hidden="true"></span>
                                   <span th:text="'(' + ${statistic.getPointsForExtraBets()} + ')'"></span>
                               </div>
                           </div>
                       </div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
