<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="delete_confirm_modal(href, id)">
		<div class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel" th:text="#{confirmation.msg}"></h4>
					</div>
					<div class="modal-footer">
						<a th:href="@{${href}}" class="btn btn-danger" th:text="#{button.delete}">Delete</a>
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{button.cancel}">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>