<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="delete_confirm_modal(href, id)">
		<div class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="#{confirmation.msg}">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
					<div class="modal-footer">
						<a th:href="@{${href}}" class="btn btn-danger" th:text="#{button.delete}">Delete</a>
						<button type="button" class="btn btn-light" data-bs-dismiss="modal" th:text="#{button.cancel}">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
