<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="match_head_list(teamOne, teamTwo)" th:remove="tag">
        <img class="fi" th:src="${teamOne.crestsAsBase64}" alt="crests"/>
        <span class="fw-bold" th:text="${teamOne.getNameTranslated(@messageSourceUtil)}"></span>
        <span> - </span>
        <img class="fi" th:src="${teamTwo.crestsAsBase64}" alt="crests"/>
        <span class="fw-bold" th:text="${teamTwo.getNameTranslated(@messageSourceUtil)}"></span>
	</div>

    <div th:fragment="match_head_detail(teamOne, teamTwo)" th:remove="tag">
        <div class="col-6">
            <img class="fi big-flag" th:src="${teamOne.crestsAsBase64}" alt="crests"/>
            <br/>
            <span class="teamName" th:text="${teamOne.getNameTranslated(@messageSourceUtil)}"></span>
        </div>
        <div class="col-6">
            <img class="fi big-flag" th:src="${teamTwo.crestsAsBase64}" alt="crests"/>
            <br/>
            <span class="teamName" th:text="${teamTwo.getNameTranslated(@messageSourceUtil)}"></span>
        </div>
    </div>
</body>
</html>
