<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="match_head_list(match)" th:remove="tag">
        <img class="fi" th:src="@{team/{teamId}(teamId=${match.teamOne.id})}" alt="crests"/>
        <span class="fw-bold" th:text="${match.teamOne.getNameTranslated(@messageSourceUtil)}"></span>
        <span> - </span>
        <img class="fi" th:src="${match.teamTwo.crestsAsBase64}" alt="crests"/>
        <span class="fw-bold" th:text="${match.teamTwo.getNameTranslated(@messageSourceUtil)}"></span>
	</div>

    <div th:fragment="match_head_detail(match)" th:remove="tag">
        <div class="col-6">
            <img class="fi big-flag" th:src="${match.teamOne.crestsAsBase64}" alt="crests"/>
            <br/>
            <span class="teamName" th:text="${match.teamOne.getNameTranslated(@messageSourceUtil)}"></span>
        </div>
        <div class="col-6">
            <img class="fi big-flag" th:src="${match.teamTwo.crestsAsBase64}" alt="crests"/>
            <br/>
            <span class="teamName" th:text="${match.teamTwo.getNameTranslated(@messageSourceUtil)}"></span>
        </div>
    </div>
</body>
</html>
