<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
<title>Passwort ändern</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="alert" th:classappend="${globalMessage.cssClass}" th:if="${globalMessage}" th:text="${globalMessage.text}">Some Success message</div>
		<form id="changePasswordForm" th:action="@{/userprofile/changePassword}" th:object="${changePasswordCommand}" action="#" method="post" role="form">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">										
					<div class="form-group">
						<label for="password">altes Passwort:</label> 
						<input type="password" th:field="*{oldPassword}" class="form-control" />
					</div>
					<div class="form-group">
						<label for="password">neues Passwort:</label> 
						<input type="password" th:field="*{newPassword}" class="form-control" />
					</div>
					<div class="form-group">
						<label for="password">neues Passwort wiederholen:</label> 
						<input type="password" th:field="*{newPasswordRepeat}" class="form-control" />
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Speichern</button>
						<a href="#" th:href="@{/}" class="btn btn-default" role="button">Abbrechen</a>	
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>