.form-group input.form-size-small {
	width: 45px;
	text-align: center;
	display: inline;
}

.label-as-badge {
	border-radius: 1em;
}

.big-badge {
	font-size: 16px;
}

.bold {
	font-weight: bold;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.list-group-item {
	background-color: mediumturquoise;
}

.betting-results {
	padding-top: 10px;
}