h1 {
	font-size: 2em;
}

.form-group input.form-size-small {
	width: 45px;
	text-align: center;
	display: inline;
}

.label-as-badge {
	border-radius: 1em;
}

.big-badge {
	font-size: 16px;
}

.bold {
	font-weight: bold;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.list-group-item {
	background-color: mintcream;
}

.betting-results {
	padding-top: 10px;
	padding-bottom: 10px;
}

.ranking-name {
	font-size: 16px;
	vertical-align: sub;
	padding-left: 20px;
}

.label.ranking {
	font-size: 100%;
}

.panel-heading.user {
	font-weight: bold;
}

.panel-body.user-panel-body {
	height: 70px;
	background-color: lavender;
}

.full-box {
	padding-left: 0px;
	padding-right: 0px;
}

.custom-button-group {
	float: right;
	padding-right: 20px;
}

.teamName {
	font-size: 1.4em;
}

.user-label {
	font-size: 1.3em;
	padding-top: 7px;
}
