h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

.form-group input.form-size-small {
	width: 45px;
	text-align: center;
	display: inline;
}

.label-as-badge {
	border-radius: 1em;
}

.big-badge {
	font-size: 15px;
}

.bold {
	font-weight: bold;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.button-bar {
	padding-top: 14px;
}

.list-group-item {
	background-color: mintcream;
}

.goal_padding {
	padding-top: 0px;
	padding-bottom: 5px;
}

.goal_padding_bigger {
	padding-top: 3px;
	padding-bottom: 13px;
}

.no-left-right-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.goal-badges {
	padding-left: 8px;
	padding-right: 0px;
}

.no-right-padding {
	padding-right: 0px;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.ranking-name {
	font-size: 16px;
	vertical-align: sub;
	padding-left: 20px;
}

.label.ranking {
	font-size: 100%;
}

.panel-heading.user {
	font-weight: bold;
}

.panel-body.user-panel-body {
	height: 70px;
	background-color: lavender;
}

.custom-button-group {
	float: right;
	padding-right: 15px;
}

.teamName {
	font-size: 1.4em;
	font-weight: bold;
}

.user-label {
	font-size: 1.3em;
	padding-top: 7px;
}

.currentTime {
	font-size: 1.2em;
}

.table th, td {
	text-align: center;
}

img.flag {
	vertical-align: baseline;
}

img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.top-bottom-space {
	padding-top: 5px;
	padding-bottom: 5px;
}

.badge-penalty-winner {
	border: 2px solid black;
}

.imgsizing img {
	width: 100%;
	max-width: 600px;
}

.label-rank4 {
	background-color: #1C8FBB;
}

.label-rank5 {
	background-color: #65C5DB;
}

.label-rank6 {
	background-color: #843127;
}

.anchor {
	display: block;
	position: relative;
	top: -60px;
	visibility: hidden;
}

.blue {
	color: blue;
}

.red {
	color: red;
}

button.vote {
	width: 45%;
}

.goalsEnter .row {
	margin-top: 15px;
}

.color-vote {
	background-color: #DFF0D8;
}

.penalty-height {
	padding: 6px 12px;
}

.color-result {
	background-color: #D9EDF7;
}

.gallery-images  img {
	display: inline;
}

.table tbody>tr>td.vert-align {
	vertical-align: middle;
}

.croppie-container {
	width: 300px; 
	height: 300px;
}

/** justified break point for navigation collapse on tablets */
@media ( max-width : 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin: 7.5px -15px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	/* since 3.1.0 */
	.navbar-collapse.collapse.in {
		display: block !important;
	}
	.collapsing {
		overflow: hidden !important;
	}
}