version: "3.7"
services:
  postgres:
    image: postgres
    volumes:
      - postgres-vol:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=fred
      - POSTGRES_PASSWORD=fred
      - POSTGRES_DB=fredbetdb
      - TZ=Europe/Berlin
  fredbet:
    #    image: fred4jupiter/fredbet
    build:
      context: ../../../
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=postgres
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/fredbetdb
      - SPRING_DATASOURCE_USERNAME=fred
      - SPRING_DATASOURCE_PASSWORD=fred
    volumes:
      - "./logs:/logs/fredbet"
volumes:
  postgres-vol: