<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="de">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Layout</title>
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />		
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" />
		<!-- Optional theme -->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}" media="screen"/>	
		<link rel="stylesheet" th:href="@{/css/custom.css}" />
		<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
	</head>
	<body>
		<nav th:include="_navigation :: menu" class="navbar navbar-inverse navbar-fixed-top"></nav>
		<div class="container" role="main">		
			<div layout:fragment="content" class="container" role="main" style="padding-top: 70px;">Content Placeholder</div>
		</div>
		<script type="text/javascript" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>	
		<script type="text/javascript" src="../../static/js/bootstrap-datetimepicker.js" th:src="@{/js/bootstrap-datetimepicker.js}" charset="UTF-8"></script>
		<script type="text/javascript" src="../../static/js/bootstrap-datetimepicker.de.js" th:src="@{/js/bootstrap-datetimepicker.de.js}" charset="UTF-8"></script>
		<script type="text/javascript" src="../../static/js/datepicker-selection.js" th:src="@{/js/datepicker-selection.js}" charset="UTF-8"></script>
		<script type="text/javascript" src="../../static/js/custom.js" th:src="@{/js/custom.js}" charset="UTF-8"></script>
	</body>
</html>
