<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="de">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">FredBet</title>
		
		<link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" />		
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" />		
		<link rel="stylesheet" th:href="@{/lightbox/css/lightbox.min.css}" />
		<link rel="stylesheet" th:href="@{/css/custom.css}" />
		<link rel="stylesheet" th:href="@{/css/print.css}" media="print"/>

		<script type="text/javascript" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>		
		<script type="text/javascript" th:src="@{/lightbox/js/lightbox.min.js}"></script>		
	</head>
	<body>
		<nav th:include="_navigation :: menu" class="navbar navbar-inverse navbar-fixed-top"></nav>
		<div class="container" role="main">		
			<div layout:fragment="content" class="container" role="main" style="padding-top: 70px;">Content Placeholder</div>
		</div>
	</body>
</html>
