<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">
<head>
    <title>Navigation page</title>
</head>
<body>
    <div th:fragment="menu" th:remove="tag">
        <nav th:if="${@webSecurityUtil.isUserLoggedIn()}" class="navbar navbar-expand-lg bg-primary" th:classappend="${@webSecurityUtil.getNavbarTag()}">
            <div class="container">
                <a class="navbar-brand" th:href="@{/matches/upcoming}"><i class="fas fa-home"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/ranking}" th:text="#{navigation.ranking}"></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="betting" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false" th:text="#{navigation.betting}">
                                Tippen
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="betting">
                                <li><a class="dropdown-item" th:href="@{/bet/open}" th:text="#{navigation.betting.open}"></a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/extrabets}"
                                       th:text="#{navigation.betting.extraBets}"></a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="matches" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false" th:text="#{matches.title}">
                                Spiele
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="matches">
                                <li sec:authorize="hasAnyAuthority('PERM_EDIT_MATCH_RESULT')">
                                    <a class="dropdown-item" th:href="@{/matches/finishednoresult}"
                                       th:text="#{finishednoresult.matches}"></a>
                                </li>
                                <li sec:authorize="hasAnyAuthority('PERM_EDIT_MATCH_RESULT')">
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/matches/upcoming}" th:text="#{upcoming.matches}"></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/matches/past}" th:text="#{all.past.matches}"></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/matches/yesterday}" th:text="#{yesterday.matches}"></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/matches/today}" th:text="#{today.matches}"></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/matches}" th:text="#{all.matches}"></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/matches/joker}" th:text="#{joker.matches}"></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li th:each="group : ${@groupAvailabilityUtil.getMainGroups()}">
                                    <a class="dropdown-item" th:href="${'/matches/group/' + group.getName() }" th:text="#{${group.getTitleMsgKey()}}"></a>
                                </li>
                                <li th:if="${@groupAvailabilityUtil.isKnockOutMatchesAvailable()}">
                                    <hr class="dropdown-divider">
                                </li>
                                <li th:if="${@groupAvailabilityUtil.isGroupAvailable('ROUND_OF_THIRTY_TWO')}">
                                    <a class="dropdown-item" th:href="@{/matches/group/ROUND_OF_THIRTY_TWO}"
                                       th:text="#{group.title.roundOfThirtyTwo}"></a>
                                </li>
                                <li th:if="${@groupAvailabilityUtil.isGroupAvailable('ROUND_OF_SIXTEEN')}">
                                    <a class="dropdown-item" th:href="@{/matches/group/ROUND_OF_SIXTEEN}"
                                       th:text="#{group.title.roundOfSixteen}"></a>
                                </li>
                                <li th:if="${@groupAvailabilityUtil.isGroupAvailable('QUARTER_FINAL')}">
                                    <a class="dropdown-item" th:href="@{/matches/group/QUARTER_FINAL}"
                                       th:text="#{group.title.quarterFinal}"></a>
                                </li>
                                <li th:if="${@groupAvailabilityUtil.isGroupAvailable('SEMI_FINAL')}">
                                    <a class="dropdown-item" th:href="@{/matches/group/SEMI_FINAL}"
                                       th:text="#{group.title.semiFinal}"></a>
                                </li>
                                <li th:if="${@groupAvailabilityUtil.isGroupAvailable('FINAL')}">
                                    <hr class="dropdown-divider">
                                </li>
                                <li th:if="${@groupAvailabilityUtil.isGroupAvailable('FINAL')}">
                                    <a class="dropdown-item" th:href="@{/matches/group/FINAL}"
                                       th:text="#{group.title.final}"></a>
                                </li>
                                <li th:if="${@groupAvailabilityUtil.isGroupAvailable('GAME_FOR_THIRD')}">
                                    <hr class="dropdown-divider">
                                </li>
                                <li th:if="${@groupAvailabilityUtil.isGroupAvailable('GAME_FOR_THIRD')}">
                                    <a class="dropdown-item" th:href="@{/matches/group/GAME_FOR_THIRD}"
                                       th:text="#{group.title.gameForThird}"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="info" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false" th:text="#{navigation.info}">
                                Tippen
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="info">
                                <li><a class="dropdown-item" th:href="@{/standings}" th:text="#{standings.title}"></a></li>
                                <li><a class="dropdown-item" th:href="@{/info/statistic}" th:text="#{statistics.title}"></a></li>
                                <li><a class="dropdown-item" th:href="@{/info/pointsfrequency}"
                                       th:text="#{pointsfrequency.title}"></a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/pointcourse/show}" th:text="#{pointcourse.title}"></a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" th:href="@{/info/rules}" th:text="#{rules.title}"></a></li>
                                <li><a class="dropdown-item" th:href="@{/info/prices}" th:text="#{prices.title}"></a></li>
                                <li><a class="dropdown-item" th:href="@{/info/misc}" th:text="#{misc.title}"></a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" th:href="@{/gallery/show}" th:text="#{image.gallery.title}"></a></li>
                                <li><a class="dropdown-item" th:href="@{/image/show}" th:text="#{image.upload.title}"></a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('PERM_USER_ADMINISTRATION','PERM_SYSTEM_INFO','PERM_ADMINISTRATION')">
                            <a class="nav-link dropdown-toggle" href="#" id="admin" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false" th:text="#{navigation.administration}">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="admin">
                                <li sec:authorize="hasAuthority('PERM_USER_ADMINISTRATION')">
                                    <a class="dropdown-item" th:href="@{/user}" th:text="#{navigation.user}"></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li sec:authorize="hasAuthority('PERM_ADMINISTRATION')">
                                    <a class="dropdown-item" th:href="@{/runtimesettings/show}" th:text="#{navigation.runtime.configuration}"></a>
                                </li>
                                <li sec:authorize="hasAuthority('PERM_ADMINISTRATION')">
                                    <a class="dropdown-item" th:href="@{/config/points}" th:text="#{points.config.title}"></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li th:if="${@webSecurityUtil.isDemoDataMenuEntryEnabled()}" sec:authorize="hasAuthority('PERM_ADMINISTRATION')">
                                    <a class="dropdown-item" th:href="@{/administration}" th:text="#{navigation.dataCreation}"></a>
                                </li>
                                <li th:if="${@webSecurityUtil.isDemoDataMenuEntryEnabled()}">
                                    <hr class="dropdown-divider">
                                </li>
                                <li sec:authorize="hasAuthority('PERM_ADMINISTRATION')">
                                    <a class="dropdown-item" th:href="@{/importexport}" th:text="#{importexport.title}"></a>
                                </li>
                                <li sec:authorize="hasAuthority('PERM_ADMINISTRATION')">
                                    <a class="dropdown-item" th:href="@{/excelimport/show}" th:text="#{navigation.excelimport}"></a>
                                </li>
                                <li sec:authorize="hasAuthority('PERM_ADMINISTRATION')">
                                    <a class="dropdown-item" th:href="@{/excelexport/show}" th:text="#{navigation.excelexport}"></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li sec:authorize="hasAuthority('PERM_SYSTEM_INFO')">
                                    <a class="dropdown-item" th:href="@{/systeminfo}" th:text="#{navigation.systemInfo}"></a>
                                </li>
                                <li sec:authorize="hasAuthority('PERM_ADMINISTRATION')">
                                    <a class="dropdown-item" th:href="@{/config/show}" th:text="#{navigation.loggingAndCaching}"></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li sec:authorize="hasAuthority('PERM_SHOW_ACTIVE_USERS')">
                                    <a class="dropdown-item" th:href="@{/administration/active/users}" th:text="#{navigation.activeUserList}"></a>
                                </li>
                                <li sec:authorize="hasAuthority('PERM_SHOW_LAST_LOGINS')">
                                    <a class="dropdown-item" th:href="@{/administration/lastlogins}" th:text="#{navigation.lastlogin}"></a>
                                </li>
                                <li th:if="${@runtimeSettingsUtil.isH2ConsoleEnabled()}">
                                    <hr class="dropdown-divider">
                                </li>
                                <li th:if="${@runtimeSettingsUtil.isH2ConsoleEnabled()}" sec:authorize="hasAuthority('PERM_ADMINISTRATION')">
                                    <a class="dropdown-item" th:href="@{/backup/show}" th:text="#{navigation.backup}"></a>
                                </li>
                                <li th:if="${@runtimeSettingsUtil.isH2ConsoleEnabled()}" sec:authorize="hasAuthority('PERM_ADMINISTRATION')">
                                    <a class="dropdown-item" th:href="${@webSecurityUtil.resolveH2Path()}" target="_blank">H2 Console</a>
                                </li>
                            </ul>
                    </ul>
                    <div class="d-flex navbar-nav">
                        <li class="nav-item dropdown me-2">
                            <a class="nav-link dropdown-toggle" th:classappend="${classes}" id="language" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <span class="fi" th:classappend="${@languageIconUtil.cssClassCurrentUserLanguage()}"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="language">
                                <li th:replace="~{fragments/language_selector :: language_selector}"></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img th:src="@{'/gallery/showthumb/' + ${@webSecurityUtil.getCurrentUserProfileImageKey()}}"
                                     th:alt="${@webSecurityUtil.getCurrentUsername()}" height="24" class="rounded">
                            </a>
                            <ul class="dropdown-menu">
                                <li class="bg-light">
                                    <h6 class="dropdown-header text-center fst-italic" th:text="${'-- ' + @webSecurityUtil.getCurrentUsername() + ' --'}">Dropdown header</h6>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/profile/changePassword}" th:text="#{navigation.changePassword}"></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/cropping/show}" th:text="#{navigation.profileImage}"></a>
                                </li>
                                <li th:if="${@runtimeSettingsUtil.getSettings().isEnableChangingUsername()}">
                                    <a class="dropdown-item" th:href="@{/profile/changeUsername}" th:text="#{navigation.changeUsername}"></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/user/setting}" th:text="#{user.setting.title}"></a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <form name="logoutForm" th:action="@{/logout}" method="post">
                                        <input class="dropdown-item" type="submit" th:value="#{navigation.logout}"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>
