<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="_layout">
<head>
	<title>Navigation page</title>
</head>
<body>
	<nav th:fragment="menu" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="home.html" th:href="@{/matches}"><span class="glyphicon glyphicon-home"></span></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li th:class="${pageState_matches}"><a href="#matches" th:href="@{/matches}">Spiele</a></li>
					<li th:class="${pageState_bet}"><a href="#bet" th:href="@{/bet}">Meine Tipps</a></li>
					<li th:class="${pageState_bet_open}"><a href="#bet" th:href="@{/bet/open}">noch zu tippen</a></li>
					<li th:class="${pageState_ranking}"><a href="#bet" th:href="@{/ranking}">Ranking</a></li>
				  	<li th:class="${pageState_user}" sec:authorize="hasRole('ROLE_ADMIN')"><a href="#user" th:href="@{/user}">Benutzer</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${@securityBean.isUserLoggedIn()} == false">
							<a href="#login" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
					</li>
					<li th:if="${@securityBean.isUserLoggedIn()} == true" class="dropdown">
						<a href="#" th:inline="text" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span> <span sec:authentication="name">Bob</span><span class="caret"></span>
                        </a>
						<ul class="dropdown-menu">
							<li>
                                <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                                    <span class="glyphicon glyphicon-log-out"></span> Logout</a>
								<form id="form" method="post" action="#" th:action="@{/logout}">
								</form>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>
