<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title th:text="#{login.title}"></title>
    <link rel="stylesheet" th:href="@{/css/pages/login.css}" />
</head>
<body>
    <div layout:fragment="content">
        <main class="form-signin w-100 m-auto">
            <div th:if="${param.error}" class="alert alert-danger" role="alert"
                 th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                <span th:text="${errorMsg}"></span>
            </div>
            <form class="form" th:action="@{/login}" method="post">
                <div class="text-center mb-5">
                    <i class="fas fa-thumbs-up fa-8x logo-color"></i>
                </div>

                <h1 class="h3 mb-3 fw-normal" th:text="'FredBet - ' + #{login.title.short}">Please sign in</h1>

                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="username" th:placeholder="#{login.placeholder.username}">
                    <label for="floatingInput" th:text="#{login.placeholder.username}"></label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password" th:placeholder="#{login.placeholder.password}">
                    <label for="floatingPassword" th:text="#{login.placeholder.password}">Password</label>
                </div>

                <div class="row mt-3">
                    <div class="col-6">
                        <div class="form-check text-start my-3">
                            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault" name="remember-me" checked>
                            <label class="form-check-label" for="flexCheckDefault">Auto-Login</label>
                            <span class="fas fa-info-circle" aria-hidden="true" data-toggle="tooltip"
                                  data-placement="top" th:title="#{login.autologin.tooltip}"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mt-1">
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img th:src="${@languageUtil.getImageLanguageIconPath()}" alt="language"/>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a th:href="${@languageUtil.buildUrl('de')}" class="dropdown-item language"><img src="/images/lang/de.png" th:text="' '+#{language.de}" alt="de"/></a></li>
                                    <li><a th:href="${@languageUtil.buildUrl('en')}" class="dropdown-item language"><img src="/images/lang/en.png" th:text="' '+#{language.en}" alt="en"/></a></li>
                                    <li><a th:href="${@languageUtil.buildUrl('pl')}" class="dropdown-item language"><img src="/images/lang/pl.png" th:text="' '+#{language.pl}" alt="pl"/></a></li>
                                    <li><a th:href="${@languageUtil.buildUrl('es')}" class="dropdown-item language"><img src="/images/lang/es.png" th:text="' '+#{language.es}" alt="es"/></a></li>
                                    <li><a th:href="${@languageUtil.buildUrl('ca')}" class="dropdown-item language"><img src="/images/lang/ca.png" th:text="' '+#{language.ca}" alt="ca"/></a></li>
                                    <li><a th:href="${@languageUtil.buildUrl('cze')}" class="dropdown-item language"><img src="/images/lang/cze.png" th:text="' '+#{language.cze}" alt="cze"/></a></li>
                                    <li><a th:href="${@languageUtil.buildUrl('sv')}" class="dropdown-item language"><img src="/images/lang/sv.png" th:text="' '+#{language.sv}" alt="sv"/></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary w-100 py-2" type="submit" th:value="#{login.button.login}">
                    <i class="fas fa-sign-in-alt"></i>&nbsp;<span th:text="#{login.button.login}"></span>
                </button>

                <div class="row mt-3">
                    <div class="col-12">
                        <div class="form-group">
                            <a th:if="${@runtimeSettingsUtil.getSettings().isSelfRegistrationEnabled()}" class="btn btn-light" th:href="@{/registration}" th:text="#{registration.link.text}"></a>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</body>
<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{js/pages/tooltip.js}" charset="UTF-8"></script>
</th:block>
</html>
