<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title th:text="#{login.title}"></title>
    <link rel="stylesheet" th:href="@{css/bootstrap-toggle.min.css}"/>
</head>
<body>
<div layout:fragment="content">
    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <form id="login-form" class="form" th:action="@{/login}" method="post">
                                <h3 class="mb-5" th:text="'FredBet - ' + #{login.title.short}">Sign in</h3>
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="username"/>
                                    <label class="form-label" for="typeEmailX-2">Email</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password"/>
                                    <label class="form-label" for="typePasswordX-2">Password</label>
                                </div>

                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-start mb-4">
                                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                                    <label class="form-check-label" for="form1Example3"> Remember password </label>
                                </div>

                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{js/bootstrap-toggle.min.js}"></script>
    <script type="text/javascript" th:src="@{js/pages/tooltip.js}" charset="UTF-8"></script>
</th:block>
</html>
