name: Build and Test

on:
  push:
    paths-ignore:
      - '.github/**'
      - 'extra/**'
    branches:
      - 'bugfix/*'
      - 'feature/*'

jobs:
  build:
    uses: ./.github/workflows/build-template.yml
    with:
      maven_command: 'mvn -B verify'
      upload_artifact: false
